[2015-08-11 04:12] hannes-ucsc opened #1 "Create test inputs to RNA-Seq pipeline"
_From @jvivian on August 10, 2015 23:26_

null

_Copied from original issue: BD2KGenomics/toil#225_

[2015-08-11 04:12] hannes-ucsc opened #2 "Add Robert's QC Step to Pipeline"
_From @jvivian on August 10, 2015 23:26_

null

_Copied from original issue: BD2KGenomics/toil#224_

[2015-08-11 04:13] hannes-ucsc opened #3 "Add RNA-SeQC to RNA-Seq Pipeline"
_From @jvivian on August 10, 2015 23:26_

null

_Copied from original issue: BD2KGenomics/toil#223_

[2015-08-18 19:33] #2 closed

[2015-08-26 18:34] jvivian opened #4 "Remove Samtools dependency from pipeline"

[2015-08-26 20:31] jvivian opened #5 "Rewrite GATK T/N Pipleline"

[2015-08-26 21:33] jvivian opened #6 "Fix GATK container (add java ENV)"

[2015-08-26 21:46] hannes-ucsc commented on #6
The variable name should be `JAVA_OPTS`. That's a widely accepted convention.

[2015-08-26 22:48] jvivian commented on #4
Ran into issues piping between containers so i'm putting this on backlog as it's not high priority.

[2015-08-28 18:01] #5 closed

[2015-08-28 21:32] jvivian opened #7 "Modify rna-seq pipeline to zip together a sample's results to output_dir or S3_bucket"

[2015-08-28 21:36] jvivian opened #8 "Add memory allocation for .jars in variant pipeline"

[2015-08-28 22:24] jvivian commented on #6
Added a statement: `java $JAVA_OPTS -jar /path/to/jar.jar` in the wrapper that will allow a user to specify any number of java options.  In concert with docker, this is achieved by using the `-e` flag.

Example:
`docker run -e JAVA_OPTS=-Xmx15g computationalgenomicslab/gatk <parameters>`

[2015-08-28 22:25] #6 closed

[2015-08-28 22:47] jvivian opened #9 "Convert Beau's germline pipeline to TOIL"

[2015-08-30 22:14] jvivian opened #10 "Remove hardcoding of resource requirements in RNAseq pipeline"

[2015-09-01 00:12] benedictpaten opened #11 "Adapt Kyle's CLIA supplied pipeline into his variant calling pipeline"

[2015-09-02 19:46] jvivian commented on #7
- [ ] Zip output from every terminal step and add to fileStore
- [ ] Add final job that pulls output zips from FileStore and writes new zip.
- [ ] Test on sample

[2015-09-03 21:45] jvivian commented on #1
This was sort of a failure as I was able to find and create small fastqs but one step in the pipeline now takes 300x longer than it used to on these small files which is rather unintuitive.   Right now the smallest zipped sample we have is 7.5G and I'm timing a run on a 32 core machine.

[2015-09-03 21:45] #1 closed

[2015-09-03 21:47] jvivian commented on #3
I added RSeQ_QC to the pipeline and nobody has requested anything in addition so I will close this ticket.  I'll open a new ticket if that changes and somebody does request additional QC.

[2015-09-03 21:47] #3 closed

[2015-09-03 21:50] jvivian commented on #11
Should I take point on contacting Kyle instead of waiting for him to email me?  I couldn't find his address in the OHSU directory and I'm not sure if he still has an soe account since he left.

[2015-09-05 05:27] jvivian opened #12 "Replicate: ZipFile writing fails on first run (including retries) but succeeds with --restart"

[2015-09-05 05:29] jvivian commented on #12
First run:

[code]

retrying with `--restart` results in completion of pipeline with no errors and produces the expected .zip file.

[2015-09-07 02:15] jvivian commented on #12
Replicated.  I can't explain how this happens, but since ZIP has other limitations I'll be switching to using the tarfile module.

[2015-09-07 02:15] #12 closed

[2015-09-07 20:11] #7 closed

[2015-09-09 18:52] jvivian commented on #11
Emailed him Sept 4th (kellrott@soe.ucsc.edu) and have not received a response.

[2015-09-09 18:54] jvivian commented on #9
Copycat issue to  #302

[2015-09-09 18:54] #9 closed

[2015-09-10 22:23] jvivian opened #13 "Test VarScan2"

[2015-09-10 22:27] jvivian commented on #13
Determine resource requirements

- [ ] Get Docker Run parameters from Jeltje
- [ ] Get 2 bed files from Jeltje
- [ ] Run sample pair

[2015-09-10 22:27] jvivian opened #14 "Incorporate VarScan2-CNV into gatk-pipeline"

[2015-09-14 20:56] jvivian opened #15 "Make slides for 9/17 BD2K call"

[2015-09-15 03:06] #13 closed

[2015-09-16 17:28] #11 closed

[2015-09-16 17:29] jvivian commented on #11
Parameters were the same as when I last spoke with him, simply  `--tumor_lod 10`.

[2015-09-16 17:36] #8 closed

[2015-09-16 17:38] jvivian opened #16 "Test variant pipeline: CNV + java options"
_From @jvivian on September 16, 2015 17:36_

null

_Copied from original issue: BD2KGenomics/cgl-docker-lib#20_

[2015-09-17 17:32] #15 closed

[2015-09-28 18:18] hannes-ucsc opened #17 "Create Toil script with service jobs for ADAM"
Should have one service for the Spark master and N services for the slaves. @fnothaft mentioned using a separate container for the Tachyon master. Until @fnothaft or @heuermh deliver the corresponding containers, the actual `docker` invocations should be stubbed out.

[2015-09-28 18:48] fnothaft commented on #17
I should have the containers coming at you this PM.

[2015-09-30 20:49] #16 closed

[2015-10-01 19:20] jvivian opened #18 "Test rewritten batch-alignment script"

[2015-10-01 19:33] jvivian opened #19 "Create setup.py for different toil-scripts branches"

[2015-10-02 20:46] jvivian commented on #19
Discussed today with hannes and for now separate branches are fine.

[2015-10-02 20:46] #19 closed

[2015-10-06 20:35] #18 closed

[2015-10-06 20:35] hannes-ucsc commented on #18
Superceded by #378

[2015-10-06 20:49] hannes-ucsc commented on #14
Waiting for feedback from Jeltje and the Steward lab.

[2015-10-07 06:05] jvivian opened #20 "Add QC step to variant pipeline"

[2015-10-07 06:07] jvivian commented on #20
Will add stats via this tool:
http://broadinstitute.github.io/picard/command-line-overview.html#CollectAlignmentSummaryMetrics

-[ ] Test QC tool
-[ ] Add to variant pipeline

Where to put QC output?  tarball QC in a subdir along with the .vcf?

[2015-10-07 06:10] jvivian opened #21 "Send Peter a tested pipeline"

[2015-10-08 15:02] jvivian opened #22 "Create toil-cluster role that contains all dependencies for all toil-scripts"

[2015-10-09 07:56] hannes-ucsc commented on #22
This should make use of the --script option in cgcloud. Some hackery might be necessary to  make sure that `create-toil-cluster` uses the replaced role.

[2015-10-16 17:51] jvivian commented on #20
We've agreed that this QC step should be [SnpEff](http://snpeff.sourceforge.net/index.html)

I have made a companion ticket to containerize SnpEff

[2015-10-19 22:58] jpfeil opened #25 "Remove redundant buckets for toil-scripts project"
I moved pipeline inputs into cgl-pipeline-inputs, so we do not need project specific buckets anymore.

[2015-10-20 01:07] hannes-ucsc commented on #25
The name of the project is actually ``toil-scripts``, not ``toil-script``.

[2015-10-20 01:09] hannes-ucsc commented on #25
Thank you. Now if you could file a PR against toil-scripts that adjusts the URLs in the wrapper shell scripts to the new bucket. And could you paste the bucket name here?

[2015-10-20 01:27] hannes-ucsc commented on #25
What's the relationship between this issue and BD2KGenomics/toil#495?

[2015-10-20 04:06] jpfeil commented on #25
We are keeping the buckets around until we have tested the new input urls.

[2015-10-20 06:16] hannes-ucsc commented on #25
I see. So which ticket is used to track the update to the wrapper scripts that I mentioned above?

[2015-10-20 06:24] jvivian commented on #25
@jpfeil Once a PR is submitted against toil-scripts to update the "launch" bash scripts to the new URLs I think this ticket can be closed.  (Make sure the PR is against the 1.0.7 branch).

Shortly we'll be running the rna-seq for Treehouse and the variant pipeline for WCDT, I'll do a quick sanity check that tests that the URLs before a production run.

[2015-10-20 06:26] jvivian opened #26 "Sanity check new URLs for pipelines"
URLs were updated, ensure that they still work.

- [ ] Batch Alignment
- [ ] RNA-Seq
- [ ] Variant

[2015-10-20 06:29] hannes-ucsc commented on #26
This is why we need integration tests for each of the scripts in toil-scripts: so we don't need to manually test the scripts after each change to the script or their static inputs.

[2015-10-20 06:30] hannes-ucsc commented on #25
Still need a ticket for the actual change to the wrapper scripts or was this done already?

[2015-10-20 18:24] jpfeil opened #28 "Update URLs for launch scripts"

[2015-10-20 18:25] jpfeil commented on #25
Depends on issue #28

[2015-10-20 18:29] jpfeil opened #29 "Port Beau's best practice GATK pipeline for germline variants to Toil"
Supersedes BD2kGenomics/toil#302

[2015-10-20 18:30] jpfeil commented on #29
We should transfer Beau's knowledge:
https://github.com/beaunorgeot/GATK-Whole-Genome-Pipeline/blob/master/processingGATK.sh

[2015-10-20 18:32] jvivian commented on #26
@hannes-ucsc -- That's what #226 is addressing.  I created this ticket since the pipelines will likely be needed prior to #226 completion.   (Not sure how to cross-link issues between repos, but the issue is under the wrong project: https://github.com/BD2KGenomics/toil/issues/226)

[2015-10-21 05:41] jvivian commented on #20
- [ ] Test SnpEff
- [ ] Add to variant pipeline

[2015-10-22 02:34] hannes-ucsc opened #33 "Port user scripts to new job store API in 3.1.0"
_From @benedictpaten on September 8, 2015 23:13_

null

_Copied from original issue: BD2KGenomics/toil#378_

[2015-10-22 02:34] hannes-ucsc commented on #33
_From @benedictpaten on September 16, 2015 6:46_

He John, you own this, but need to wait till PR #393 goes in. You can take a look at the modified Job.FileStore interface here:

https://github.com/BD2KGenomics/toil/pull/397

It is considerably simpler. You'll want to use promises everywhere you previously used empty job store files. They can now be arbitrarily nested.

[2015-10-22 02:34] hannes-ucsc commented on #33
_From @benedictpaten on September 20, 2015 20:7_

Now that #397 is in, you are unblocked on this.

[2015-10-22 02:34] hannes-ucsc commented on #33
_From @jvivian on September 30, 2015 20:49_

Rewritten:
- [x] Batch Alignment
- [ ] Somatic variant calling
- [ ] RNA Seq

Tested:
- [ ] Batch Alignment
- [ ] Somatic variant calling
- [ ] RNA Seq

[2015-10-22 02:34] hannes-ucsc commented on #33
This issue should be associated with toil-scripts, not toil.

[2015-10-22 03:03] hannes-ucsc opened #34 "Implement encryption key management service"
The main purpose is to prevent us from having to distribute the master key to the operators within the core group, i.e. the people running the pipelines on controlled-access data. The master key should only be in the possession of a very limited number of people. But most importantly, you shouldn't have to pass the most important secret to give an operator access to the system.

The solution shoul

[2015-10-22 20:42] hannes-ucsc opened #35 "SnpEff: Consider baking reference database into image"
https://github.com/BD2KGenomics/cgl-docker-lib/issues/37#issuecomment-150264986

[2015-10-22 20:43] #35 closed

[2015-10-22 20:43] hannes-ucsc commented on #35
Wrong project.

[2015-10-25 19:28] melissacline commented on #20
What I'm hearing now is that the best QC is to run two or more different variant callers and look at their intersection.  Josh recommends MuSe, and says that Kyle was working on a Dockerized version.  BAMStats looks like it will be useful for the inevitable questions on why a variant was called by one caller and not another, as coverage and quality scores tend to be the type of heuristics that dif

[2015-10-25 19:38] melissacline opened #36 "Add a container for the MuSe variant caller"
Kyle might have a head start on Dockerizing MuSe

[2015-10-25 19:40] melissacline commented on #36
From Kyle:

https://github.com/ucscCancer/muse-tool
SevenBridges has also forked the code and made a CWL variant
https://github.com/ntijanic/muse-tool

[2015-10-26 01:24] melissacline commented on #36
Update from Josh: "Try the CWL-compliant version. CWL is the GA4GH-compliant workflow language."

[2015-10-27 17:48] hannes-ucsc opened #37 "Update cgcloud and toil-box AMIs"
BD2KGenomics/toil#416 and BD2KGenomics/toil#499 plus various other issues have been resolved. It's time to update the AMIs used for the Toil runs.

[2015-10-29 16:53] jvivian commented on #34
I'd love an explanation of this in person next time we meet.  I get the general premise but am a little hazy on a few of the details.

[2015-10-29 23:41] hannes-ucsc commented on #34
I revised the text a bit. There were a few errors in it.

[2015-10-30 18:51] hannes-ucsc commented on #36
Deprioritize until refactpr of variant pipeline is complete and demand for it reappears. The original demand disappeared because this was outsourced to the Broad.

[2015-10-30 19:09] hannes-ucsc commented on #22
Unzip, docker, curl, samtools, s3am, boto.

[2015-10-30 19:10] hannes-ucsc commented on #22
Samtools should not be in this list and dockerized instead. But a bug in the RNASeq user-script prevents that for now.

[2015-10-30 19:11] hannes-ucsc commented on #22
@jpfeil and @arkal: could you list the additional dependencies for your pipelines here?

[2015-10-30 19:12] hannes-ucsc commented on #20
Dupe of BD2KGenomics/driver-projects#25

[2015-10-30 19:15] hannes-ucsc commented on #14
Depends on #33

[2015-10-30 19:17] hannes-ucsc opened #38 "Create CNV pipeline"

[2015-10-30 19:19] hannes-ucsc commented on #14
Superceded by #38

[2015-10-30 19:19] #14 closed

[2015-10-30 19:21] hannes-ucsc commented on #26
Depends on #28

[2015-11-02 17:28] melissacline commented on #20
Closing BD2KGenomics/driver-projects#25

[2015-11-02 17:32] melissacline opened #39 "Design Jenkins-Luigi integration for driver projects"
Moving from BD2KGenomics/driver-projects#17

[2015-11-02 17:34] melissacline opened #40 "Enforce server-side encryption on cgl-driver-projects-encrypted S3 bucket"
Move from BD2KGenomics/driver-projects#4

[2015-11-02 17:37] melissacline opened #41 "Draft a specification on the core system requirements"
Moving from BD2KGenomics/driver-projects#21

[2015-11-02 18:12] jvivian opened #42 "Create separate b37 and hg19 launch scripts for Variant Pipelie"
This will likely be needed anyway, but our old test samples and inputs were for b37 but all of our incoming variant data will likely be hg19.

I've already acquired the separate inputs for these different references, they just both need to be implemented as separate launch scripts and inputs.

[2015-11-02 19:36] hannes-ucsc opened #43 "Rewrite provenance section in Melissa spec"

[2015-11-02 19:36] melissacline commented on #43
See https://docs.google.com/document/d/1i3cGCGfGa4bnNPuW69r8WbF9ON2fM7kZvhSOKBS7xac/edit, item #4 under Inputs

[2015-11-02 23:25] jvivian opened #44 "Draft spec document for variant/rna-seq recompute"
Send to Benedict to look over and make comments.

[2015-11-03 00:04] #42 closed

[2015-11-03 00:10] jvivian commented on #10
Hardcoded, will be closed once variant pipeline has been committed.

[2015-11-04 01:03] arkal commented on #22
I have none

[2015-11-06 00:32] jvivian opened #45 "Write new alignment pipeline"
Will be borrowing the methodology from Arjun's pipeline:
https://github.com/arkal/docker_scripts/blob/master/precision_immuno.py

[2015-11-11 16:29] jvivian opened #46 "Produce inputs for new RNA-Seq pipeline"

[2015-11-11 16:31] jvivian commented on #45
It's been written, I just need to do a test run.

[2015-11-12 05:10] jvivian commented on #45
I've been trying to figure this issue out for over a day now, but in the final reheader step of the program I'm getting a memory leak in docker, in that memory usage monotonically increases until the daemon crashes.  I've upgraded samtools version to 1.2, and tried 3 different versions of docker all to no avail.   This issue is reproducible outside of Toil by just calling the container.   Arjun  h

[2015-11-12 17:47] Jeltje commented on #45
How frustrating. I think reheadering has been a bit of an issue with samtools, but I don't know why.
Do you not see the problem when you run Arjun's tool on the same inputs? Do you see it on all inputs? I remember having issues running Varscan on  samtools output (earlier versions) with some bam files in a set but not others. Highly annoying (and in my case solved by using an earlier version of sa

[2015-11-12 22:02] jvivian commented on #44
Sent a very rough draft to @benedictpaten, I'm not sure if there needs to be additional review or not.

[2015-11-13 05:18] jvivian commented on #43
ucsc_cgl tools all have hardcoded tags in this pipeline, so their version is consistent with the git commit hash.  I believe that's all that's necessary to ensure reproducibility.  I didn't include things like Toil version, because that should never have an effect on the output of a pipeline (besides failing to produce an output at all).

[2015-11-13 05:19] #43 closed

[2015-11-13 05:26] #33 closed

[2015-11-13 19:27] jvivian opened #49 "Investigate obtaining cosmic.vcf for hg38"
Cosmic is useful for MuTect calling:

"In contrast, COSMIC is a more highly validated resource, so it is used essentially as a whitelist to "rescue" candidate mutations that would otherwise be rejected for being in the panel of normals and/or dbSNP. We expect that anything that is really somatic that is flagged as such in dbSNP will also be in COSMIC, so we can rely on COSMIC to rescue those sites

[2015-11-13 23:20] jvivian opened #50 "Write new RNA-seq pipeline"
STAR -> RSEM
+
Kallisto

[2015-11-13 23:41] arkal commented on #49
Not very hard to do. Make an account on sanger and download from their website. Alternatively, you can use this to get it
https://github.com/arkal/docker_scripts/blob/master/prepare.py#L788-L840

you just need to provide a username and password form Sanger

[2015-11-17 16:09] jvivian commented on #49
@arkal Thanks!

[2015-11-17 16:09] #49 closed

[2015-11-17 16:09] #44 closed

[2015-11-17 16:10] jvivian commented on #46
All inputs are based on HG38 human reference genome and gencodes v23 annotations

HG38: http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/
gencodev23: http://www.gencodegenes.org/releases/23.html

- [x] Star Index
- [x] RSEM reference
- [ ] Kallisto index

[2015-11-18 16:59] jvivian commented on #46
All inputs for the rnaseq pipeline are here:
s3://cgl-pipeline-inputs/rnaseq_cgl/

- [x] Create STAR inputs
    - Command:
        - sudo docker run -v $(pwd):/data quay.io/ucsc_cgl/star --runThreadN 32 --runMode genomeGenerate --genomeDir /data/genomeDir --genomeFastaFiles hg38.fa --sjdbGTFfile gencode.v23.annotation.gtf
    - GTF was taken from gencode (v23)
        - http://www.gencodegenes.org

[2015-11-18 17:00] #46 closed

[2015-11-18 17:04] jvivian commented on #50
Pipeline is written, starting testing now.

[2015-11-19 16:15] jvivian commented on #20
@melissacline I feel like this is a stale ticket -- As we await feedback on the toil recompute should I close this ticket until we have something more concrete laid out?

[2015-11-19 22:59] jvivian commented on #50
Pipeline is fully functioning!  Test output can be seen here:

s3://cgl-driver-projects/test/rna_cgl-test/test_SRR1559191.tar.gz

Next step is validation (comparing RSEM output between pipelines on the same sample).  I'll open a separate ticket for that.

[2015-11-19 22:59] #50 closed

[2015-11-23 19:49] hannes-ucsc opened #51 "Research existing validators"
Encode, CGHub, Broad, OICR.

[2015-11-25 18:04] #45 closed

[2015-11-25 18:08] jvivian opened #52 "Test alignment to hg38"

[2015-11-25 18:09] jvivian opened #53 "Test hg19 bams to ensure GATK compatibility"

[2015-11-25 23:28] jvivian commented on #4
Since we're moving to an entirely new rna-seq pipeline, which i've already written, that has no dependencies aside from Docker/Toil, I'm going to close this unless it is explicitly requested by someone.

[2015-11-25 23:28] #4 closed

[2015-11-25 23:50] jvivian commented on #20
Closing in light of our scrum discussion from the other day.   I will be presented with a list of QC steps or warnings to produce from the pipeline (written to a WARNING.txt in output).

[2015-11-25 23:50] #20 closed

[2015-11-26 08:23] jvivian commented on #53
It worked.

Protip: using the same hg19 reference for the alignment as the input to the gatk pipeline also helps.

[2015-11-26 08:23] #53 closed

[2015-11-30 18:37] jvivian commented on #52
Alignment succeeded on HG38 (as expected).   Going to open a new ticket to try and test-run the exome variant pipeline with hg38 inputs trying several different combinations in preparation for Adam Ewing's validation bams.

[2015-11-30 18:37] #52 closed

[2015-11-30 18:51] jvivian opened #54 "Run variant pipeline with hg38 test inputs"
**Note**:  This ticket is blocked until we get an hg38 validation pair from Adam Ewing.
Produce a test pair of hg38 aligned inputs and then produce the following VCFs:
- [ ] No HG38 inputs
- [ ] with 1000G Snps + Indels
- [ ] with DBSNP
- [ ] with cosmic
- [ ] 1000G + DBSNP
- [ ] 1000G + Cosmic
- [ ] DBSNP + Cosmic
- [ ] All hg38 inputs
  1. Cosmic VCF comes from [Sanger](http://cancer.sanger.ac.u

[2015-11-30 18:52] fnothaft commented on #54
@jvivian Are you doing this for Mutect & GATK, or would it be helpful for me to run it for GATK?

[2015-11-30 19:00] jvivian commented on #54
@fnothaft -- I'll be running this through the T/N variant calling which includes the GATK pre-processing, but uses MuTect for the actual variant calls.

[2015-11-30 19:35] #28 closed

[2015-11-30 22:00] jvivian opened #55 "Run MC3 Variant Pipeline using CWL/Toil"
When Kyle finishes the MC3 variant pipeline, we can try running it on Toil via CWL.

[2015-12-01 17:56] hannes-ucsc commented on #22
I think @dyollluap (Paul) should take this on. He and I talked about this yesterday. The source code should live in toil-scripts.

[2015-12-01 18:08] jvivian opened #56 "Fix Variant pipeline to include all MuTect output"

[2015-12-01 19:35] jvivian opened #57 "Realign all WCDT data"
Old alignment had chromosome ordering and read group errors that GATK chokes on.  Will realign with new pipeline to fix that for downstream variant calling.

[2015-12-02 18:18] Jeltje opened #58 "core dump from exome_variant_pipeline.py"
This is on a mesos toil leader. The stderr output is
`*** Error in `python': free(): invalid pointer: 0x00007f3478e3b0a0 ***`

The input launch script:
[code]

[The --logDebug output] (http://hgwdev.cse.ucsc.edu/~jeltje/toil/core_dump.log) doesn't seem overly helpful to my eyes

[2015-12-02 18:32] Jeltje commented on #58
This actually belongs under cgcloud or toil, as it is a more general issue

[2015-12-02 19:13] jvivian commented on #36
Reprioritize containerizing MuSe and finding parameters.

Here's Kyle's method for containerizing  MuSe:
https://github.com/ucscCancer/muse-tool/blob/master/Dockerfile

Here's the parameters:
https://github.com/ucscCancer/muse-tool/blob/master/muse.xml

Reassigning to Jeltje

[2015-12-03 04:22] #56 closed

[2015-12-03 04:22] #57 closed

[2015-12-03 04:42] jvivian opened #59 "Add/Cleanup README for every toil-script"

[2015-12-03 17:11] dgaston opened #60 "Running into some resource allocation problems"
Since there is no general help forum for Toil or Toil scripts and it is in heavy development, I thought this would be the best place to ask. I have been working on porting over my existing pipeline work to Toil due to its broad support for Mesos. I am currently running this pipeline just locally. I wanted to do something a little different because I re-use many of the same methods in different pip

[2015-12-03 17:16] #58 closed

[2015-12-03 19:46] hannes-ucsc commented on #60
This issue was moved to BD2KGenomics/toil#598

[2015-12-03 19:46] #60 closed

[2015-12-03 22:12] jvivian opened #61 "Finalize consolidation of pipeline inputs to one bucket"

[2015-12-03 22:55] hannes-ucsc commented on #25
#28 is closed so this is unblocked. Assigning to @jvivian since @jpfeil is rotating in a different lab.

[2015-12-03 22:58] hannes-ucsc commented on #37
@jvivian: Is this done?

[2015-12-03 23:08] jvivian commented on #37
yup! created a new toil-latest-box image day before yesterday.

[2015-12-03 23:08] #37 closed

[2015-12-03 23:57] #25 closed

[2015-12-03 23:57] #26 closed

[2015-12-03 23:57] #61 closed

[2015-12-04 00:03] jvivian opened #62 "Build hg38.fa without alt loci"
@ifiddes brought to my attention the issue of using hg38's alt loci for both things like mapping with STAR and the GATK pipeline.

[2015-12-04 00:16] jvivian opened #63 "Build new GATK inputs for hg38"
Sadly the liftover files from [here](https://drive.google.com/folderview?id=0B3NI2BxPvRUwflZqbmtBX0xFWWRMNmh5WHZVTm4zcHZRYXcwOWQ4a05uZlhETW95NHlJczg&usp=sharing#list) do not work and others have run into the same issues I did.

After perusing some other options I'm going to try and follow [this page](https://wabi-wiki.scilifelab.se/display/SHGATG/gatk+bundle+in+hg38) and [this makefile](https://bi

[2015-12-04 18:05] jvivian opened #64 "remake STAR and RSEM indexes with non-alt hg38"

[2015-12-04 19:52] jvivian commented on #62
@ifiddes to the rescue!

[Source for hg38_no_alt](ftp://ftp.ncbi.nlm.nih.gov/genomes/archive/old_genbank/Eukaryotes/vertebrates_mammals/Homo_sapiens/GRCh38/seqs_for_alignment_pipelines)

[2015-12-04 19:53] #62 closed

[2015-12-04 22:28] jvivian opened #65 "Get Pindel Parameters, test, incorporate into variant pipeline"
- [x] Find parameters
- [x] Test
- [ ] Incorporate into pipeline

[2015-12-04 22:30] jvivian opened #66 "Get costs and stats associated with new rna-seq pipeline"

[2015-12-05 00:29] jvivian opened #67 "Fix bug with piping from samtools container"
I want to add Pindel to the exome pipeline, and one of the steps is creating a config for pindel with insert sizes of each of the bams.   I want to avoid adding a non-Docker dependency to the pipeline.

This command works great:
`samtools view -f2 $FILE | head -1000000 | awk '{s+=sqrt($9^2); i+=1} END {print s/i}'`

This command has several problems:
`sudo docker run --rm -v $(pwd):/data quay.io/u

[2015-12-05 01:26] hannes-ucsc commented on #67
Try adding `--log-driver=none` to the `docker run` command line.

Also, I'm surprised by your reference to docker.io. CGCloud switched from the docker.io package to the one from Docker's own Debian package repo, i.e. the one that is used by the official get.docker.com shell script.

[2015-12-05 06:40] jvivian commented on #67
Oops, good catch @hannes-ucsc , my test instance was running an old version.

I've tried:
- newest version of Docker
- switching to the newest version of samtools
-  `--log-driver=none`
-  `-a stdout`

I found a workaround, but it's inelegant:

`sudo docker run --name=bad_docker_pipe_bad -v $(pwd):/data quay.io/ucsc_cgl/samtools view -f2 /data/pair9.tumor.bam | head -1000000 | awk '{s+=sqrt($9^2);

[2015-12-05 08:27] hannes-ucsc commented on #67
What's the intent behind using `head`? Do you still get the broken pipe error if you remove it?

In a Toil pipeline I would replace both `head` and the `awk` with equivalent Python code.

And I think `head -100` is deprecated in favor of `head -n 100`.

[2015-12-06 21:04] jvivian commented on #67
Nice idea, that worked.  The addition of `head` was for speed, which is an order of magnitude faster.

[code]

[2015-12-06 21:07] jvivian commented on #64
[RSEM](https://s3-us-west-2.amazonaws.com/cgl-pipeline-inputs/rnaseq_cgl/rsem_ref_hg38_no_alt.tar.gz)

[STAR](https://s3-us-west-2.amazonaws.com/cgl-pipeline-inputs/rnaseq_cgl/starIndex_hg38_no_alt.tar.gz)

[2015-12-06 21:08] #64 closed

[2015-12-06 22:25] jvivian commented on #66
Blocked by: BD2KGenomics/cgcloud#83

[2015-12-07 22:46] hannes-ucsc commented on #67
I think head does a hard close on stdin which, if that input is some other process' stdout, could cause problems if that process isn't prepared to handle the resulting broken pipe signal. Here the writing process is actually docker, not samtools. Can you restrict `samtools view` through some other means, like one of the the `-LrRqlmfF` flags?

[2015-12-08 08:32] #59 closed

[2015-12-08 18:34] jvivian commented on #66
I'm going to recompute the neuroblastoma set with this new pipeline on the spot market to get an average price using a cluster.  My initial evaluation with a single sample was ~$0.75.

[2015-12-11 17:52] jvivian opened #68 "Add flag to run non-paired reads"

[2015-12-11 17:55] jvivian opened #69 "Create documentation for running toil pipelines w/ TCGA data on SDSC"

[2015-12-11 17:56] jvivian commented on #66
Blocked by: BD2KGenomics/cgcloud#84

[2015-12-11 20:06] jvivian commented on #68
Committed.  @dyollluap will you test later today?    just add `--single_end_reads` to the launch script (documentation has been updated in the README for the UNC pipeline).

[2015-12-14 19:29] jvivian opened #70 "--stats is missing certain job functions"
Stats output:
http://pastebin.com/piy7dWSz

Script being run:
https://github.com/BD2KGenomics/toil-scripts/blob/master/rnaseq_cgl/rnaseq_cgl_pipeline.py

So in this case, STAR and RSEM functions didn't show up in the output.  Given the times, you can tell certain jobs got "merged".

[2015-12-14 21:22] #29 closed

[2015-12-15 02:18] cgcloud-jenkins commented on #70
Okay, looking now.

On Mon, Dec 14, 2015 at 11:29 AM, John Vivian <notifications@github.com>
wrote:

[2015-12-15 06:25] benedictpaten commented on #70
So this is a bug created in the switch from xml to json for the stats logging. I'm assigning to CJ to fix as he is most familiar with the new code and also created the bug ;)

Previously in Job._execute we had the lines:

if stats != None:
            stats = ET.SubElement(stats, "job")
            stats.attrib["time"] = str(time.time() - startTime)
            ....

Note that we created a subelem

[2015-12-15 07:05] hannes-ucsc commented on #70
Wrong project. I'll move this.

[2015-12-15 07:06] hannes-ucsc commented on #70
This issue was moved to BD2KGenomics/toil#624

[2015-12-15 07:06] #70 closed

[2015-12-15 20:06] jvivian opened #71 "Add library package/module to toil-scripts"
I'll work out details with @hannes-ucsc

[2016-01-05 00:27] #68 closed

[2016-01-05 00:28] jvivian opened #74 "Move TCGA data to Firecloud S3"

[2016-01-05 00:29] jvivian opened #75 "Move gTEX data to Firecloud S3"

[2016-01-05 19:11] #74 closed

[2016-01-11 16:59] dyollluap opened #78 "Output file is tar.tar.gz"
unc-rna-seq pipeline outputs tar.tar.gz files to S3. Expecting tar.gz for results output.
Example at cgl-driver-projects/wcdt/plloyd_20160106/
tar xzvf works fine, resulting directory name is name.tar, which is confusing.

[2016-01-11 18:09] cgcloud-jenkins commented on #78
What does your config look like?  The UUID is taken from the config, which
makes me thing the config had a *uuid.tar* as the uuid instead of just the
name.

On Mon, Jan 11, 2016 at 8:59 AM Paul Lloyd <notifications@github.com> wrote:

[2016-01-11 18:15] dyollluap commented on #78
config issue, I've got the file name instead of sample name.

[2016-01-11 18:15] #78 closed

[2016-01-11 18:20] jvivian opened #79 "Write aggregate metric collection script"

[2016-01-12 17:32] jvivian commented on #75
with 50 spot instances running, the throughput is about ~47-52 samples per hour.  Since we have 8,752 samples of paired data > 50MB, this will take about ~170 hours or ~7 days.

[2016-01-13 21:20] melissacline opened #80 "Wig output from STAR for the GTEx runs"
The genome browser group, which generously shared their GTEx access with us, have a processing request.  When we run STAR on the GTEx data, they'd like us to add a couple steps to generate bigWig coverage files for them.  See https://github.com/guigolab/grape-nf/blob/master/templates/bigwig/STAR-NONE.  Is this reasonable?

[2016-01-13 21:22] cgcloud-jenkins commented on #80
Reasonable.  Any idea how large these files are?  If they're small, i can
bundle them with the rest of the output, if not, i'll have to think about
it.

On Wed, Jan 13, 2016 at 1:20 PM melissacline <notifications@github.com>
wrote:

[2016-01-14 00:37] Jeltje commented on #80
Bigwigs are generally not that large - the 50 or so I created some time ago range from 15-354K.
The bedGraphs that are used to create them can be quite large (they're uncompressed chromosome coordinate files - chr, chrStart, chrEnd, value) but those are temporary files in this case.

[2016-01-14 22:24] dyollluap opened #81 "Revert to RSEM version 1.13 docker image"
The official UNC RNA-seq pipeline utilizes RSEM version 1.13. For the purposes of a pipeline with identical processing to the TCGA endorsed UNC RNA-seq pipeline and consistency with previously processed datasets in driver projects, it's necessary to freeze the pipeline tools to the same versions.

The current version of rnaseq_unc_pipeline.py points to RSEM version 1.2.25.
Please revert to RSEM ve

[2016-01-14 22:42] dyollluap commented on #81
I also notice we're running mapsplice version 2.1.8, the latest version used for the TCGA UNC RNA-seq pipeline was mapsplice verson 2.0.1.9, there are no details of what changed in the update from 2.0x to 2.1x available at the uky code repository.

[2016-01-15 18:20] Jeltje opened #84 "rnaseq_unc_pipeline.py get No Such File from mapsplice"
This is for commit 8058e7086cdd6f9870de3964252e795d4f4104f4
which is not the very latest one from 20 hours ago, but that change was only to s3am upload, I think.

Running this on a c3.8xlarge mesos cluster.
The job dies on ` return_input_paths(job, work_dir, ids, 'ebwt.zip', 'chromosomes.zip')` in mapsplice.
I checked, and the files do get downloaded.

[see here for the full debug log](http://hgwd

[2016-01-15 19:19] fnothaft opened #85 "Reproducible storage for indices/large reference files"
@massie had mentioned the git-large-files extension as a good way for tracking updates to large binary files. For now, we're going to store indices and other large reference/annotation files in an S3 bucket that we'll document in the toil-scripts wiki with a README in the bucket describing the files.

[2016-01-15 19:24] Jeltje commented on #84
I just realized I created the toil cluster using cgcloud v1.2.2, I'm not sure if that leads to different versions of programs than using v1.3?
`pip list`
[code]

[2016-01-15 19:36] #81 closed

[2016-01-15 19:42] jvivian commented on #84
@dyollluap Paul, you've run the pipeline recently without issue correct?

The files are actually [downloaded earlier on](https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/rnaseq_unc/rnaseq_unc_pipeline.py#L296-L300) and should be pulled from filestore at the step you're referencing.

 I'm puzzled because if it were an issue with the jobstore it would have failed earlier.

[2016-01-15 19:43] jvivian commented on #84
@Jeltje  The launch script you linked is for AdTex btw.

[2016-01-15 19:57] Jeltje commented on #84
@jvivian I did indeed: [here is the correct one (http://hgwdev.cse.ucsc.edu/~jeltje/toil/launch_unc_mesos.sh)

[2016-01-19 04:01] jvivian opened #87 "Transfer TARGET data to S3"

[2016-01-19 04:17] jvivian commented on #80
Oops, prematurely closed.  I sent the group a bigwig sample, but this ticket pertains to all samples.

[2016-01-19 18:39] #87 closed

[2016-01-19 18:46] #79 closed

[2016-01-20 00:11] Jeltje commented on #84
Error was due to missing unzip program on toil worker

[2016-01-20 00:11] #84 closed

[2016-01-20 17:10] dyollluap opened #89 "BAM upload to S3 does not work"
New image was created on January 18th, tested with 5 datasets that have previously successfully been processed with the unc-rna-seq pipeline.

I tested it with 2 different versions of the rnaseq_unc_pipeline.py
a) the same version as had previously successfully processed, only adding the --upload_bam_to_s3
b) the most recent version

[2016-01-20 17:43] Jeltje commented on #89
Did you check that samtools and unzip are available on your workers? This tripped me up, but I hadn't run the pipeline before.

[2016-01-20 17:46] dyollluap commented on #89
I have samtools, unzip and curl installed on all the workers

[2016-01-20 18:38] heuermh commented on #17
Closed by #72?

[2016-01-20 18:43] jvivian commented on #89
Do you have a stack trace?  Did the rest of the pipeline finish and just the upload step fail?

[2016-01-20 18:50] fnothaft commented on #17
Yes, closed by #72.

[2016-01-20 18:50] #17 closed

[2016-01-20 20:06] Jeltje opened #91 "rnaseq_unc_pipeline.py iterable error"
rnaseq_unc_pipeline.py, line 373:
`        url1, url2 = None`
should be
`        url1, url2 = None, None`

[2016-01-20 20:48] dyollluap opened #92 "BAM upload for CGL RNA-seq pipeline"
For downstream analysis the medbook group will require access to the alignment bams - if we could get the upload to S3 this will facilitate comparison of the existing pipeline results with new STAR/RSEM outputs.

[2016-01-20 22:38] jvivian commented on #91
Amateur move John!
https://github.com/BD2KGenomics/toil-scripts/commit/aecf3e729b0474bff724f228236d5166f0cbc117

[2016-01-20 22:38] #91 closed

[2016-02-11 04:20] fnothaft opened #100 "Collect logs for debugging 8 node cluster failure"

[2016-02-11 04:23] fnothaft opened #101 "Create wrapper script that spawns adam pipeline jobs from manifest"
Given a bucket with a manifest of FASTQ's that are arranged as we expect, we should be able to run the BWA/ADAM/HC pipeline on all those files. Alternatively, we should be able to run the pipeline + the GATK pipeline on a subset of these samples.

@hannes-ucsc can you add @jpdna to the BD2K org? He should be the assignee.

[2016-02-11 05:16] hannes-ucsc commented on #101
@jpdna was invited.

[2016-02-12 20:23] almussel opened #102 "Create Überscript for ADAM/Toil test"
- Wrap cgcloud create
- Metric collection process
- Launch all-samples toil script (either ADAM or GATK)

[2016-02-14 04:52] fnothaft opened #103 "Batch alignment pipeline throws spurious error if bucket is private"
If the batch alignment pipeline tries to download FASTQs from a bucket that is private, the download gives something like:

[code]

We don't check for this redirect, so we try to align this "FASTQ" file, which gives hilarious (?) error messages.

[2016-02-15 13:50] jpdna commented on #101
I should be assigned to this issue

[2016-02-15 19:53] fnothaft opened #104 "Preconvert dbSNP site file to ADAM and store in S3"
Right now, we convert the known sites file from VCF to ADAM on each run. We should just store it in the S3 bucket in ADAM format, as it'll be smaller, and will save us a minute of conversion time per run.

[2016-02-15 21:13] jvivian commented on #63
Thanks to @melissacline , I no longer have to do this, yay!

[2016-02-15 21:13] #63 closed

[2016-02-15 21:13] #66 closed

[2016-02-15 21:15] jvivian commented on #80
Big recompute is finished! 99.95% of all initial GTEx  samples produced wiggle files.

[2016-02-15 21:15] #80 closed

[2016-02-15 21:16] jvivian commented on #75
Ended up stopping at 8,003 samples due to time constraints and terrible dbGaP infrastructure.

[2016-02-15 21:16] #75 closed

[2016-02-16 05:57] fnothaft opened #105 "Spark jobs should clean up HDFS on failure"
We should wrap all Spark jobs that write to HDFS so that if they fail (catch exception from `call_docker`), we clean up the output they wrote and rethrow the exception. If not, we can get job failure loops that we can never exit.

[2016-02-16 06:49] hannes-ucsc commented on #101
@jpdna It looks like you have yet to accept the invitation into the BD2KGenomic organization. Only then can I assign tickets to you.

[2016-02-16 06:55] hannes-ucsc commented on #101
This should be a Toil script that iterates over the list of samples in the input list and creates one child job per sample. The child job function(s) should be imported from the relevant user modules here in toil-scripts.

Note that with the current AWS jobstore implementation, a simple loop would take too long. It has to be done recursively: If the input list is 10 samples, spawn concrete pipelin

[2016-02-16 07:12] hannes-ucsc commented on #103
Is it because the bucket is private, or because the bucket is in another region. If you use boto's connect_to_region() method, it will not follow these redirects. If you use the S3Connection() constructor, it will. But then you get hit with the redirect for every request. In s3am, I use S3Connection() to determine the bucket's location (same as region, except that region `"us-east-1"` is location

[2016-02-16 18:50] hannes-ucsc commented on #102
Auto-scaling may be another responibility of the über-script: @hannes-ucsc in an email thread:

[2016-02-16 20:36] hannes-ucsc commented on #102
During scrum we agreed to go with the above approach.

Note that there is an important strategy for spot bidding that we need to implement in cgcloud:

https://github.com/BD2KGenomics/cgcloud/issues/101

[2016-02-16 22:38] fnothaft commented on #63
Files are in process of upload to `s3://cgl-pipeline-inputs/variant_grch38`.

[2016-02-17 02:57] hannes-ucsc commented on #71
This should now be straight-forwards since toil-scripts *is* a package hierarchy.

[2016-02-17 03:18] hannes-ucsc commented on #55
@benedictpaten, @jvivian, is this still a thing?

[2016-02-17 18:36] fnothaft commented on #103
@hannes-ucsc we're using `curl` to download the files right now, and it is because the item in the bucket is private.

[2016-02-17 21:01] jpdna opened #106 "OSError reported by bwa_alignment.py toil script"
We are trying to run:

[code]
on a cluster created as so:

[code]

and specifically, I changed toil invocation command line in call_vs_grch38.sh  to use a  larger test file input fastq at:

[code]

The relevant error reported when running the toil script is below,
and the larger output at:  http://pastebin.com/XP8wkBHk

The line of code causing the exception is in the bwa_alignment_code.py that I

[2016-02-17 21:52] jvivian commented on #106
Hey @jpdna ,

I've never seen this and it's a weird place to fail.  At this point, BWA has already run, samtools has already done the conversion, and it's failing when pulling the **aligned.bam** from the jobStore in the **fix_bam_header**.

R3.8xlarge has 640GB of ephemeral store which automatically gets mapped to /var/lib/toil _unless_ you specify `--ebs-volume-size`, which your'e doing.  Try la

[2016-02-17 23:11] hannes-ucsc commented on #106
@jpdna, How hard would it be to run this without EBS? There is a low chance that that might cause it.

Also, @cket is working on https://github.com/BD2KGenomics/toil/issues/686 which will make diagnosing this easier. I'll post-pone the reproduction until that's finished.

[2016-02-17 23:13] hannes-ucsc commented on #106
... which should be today or early tomorrow.

[2016-02-17 23:23] fnothaft commented on #106
Also, reproduces as:

[code]

I'll restart my current cluster without EBS volumes and see if it repros.

[2016-02-17 23:43] hannes-ucsc commented on #103
Probably better to use boto to download the file. It's a three liner.

[2016-02-18 00:03] fnothaft commented on #103
Strongly agree; we just need someone with the bandwidth to do it.

[2016-02-18 01:19] fnothaft commented on #106
This repros for me without EBS volumes.

[2016-02-18 01:42] hannes-ucsc commented on #106
First thing I notice is that the bwakit wrapper does not fix up the permissions:

https://github.com/BD2KGenomics/cgl-docker-lib/blob/master/bwakit/wrapper.sh

It should look like this:

https://github.com/BD2KGenomics/cgl-docker-lib/blob/master/samtools/wrapper.sh

[2016-02-18 01:49] hannes-ucsc commented on #106
If the file is world readable then that would explain the non-deterministic aspect to this. It can still be uploaded to the jobstore and will be downloaded on a cache miss but on a cache hit Toil will try to chmod a file owned by root and that will fail.

[2016-02-18 02:13] fnothaft commented on #106
Ah, fascinating. Good to know. If I made the change to bwakit, could I get a quick merge?

[2016-02-18 02:18] fnothaft commented on #106
See https://github.com/BD2KGenomics/cgl-docker-lib/pull/83. Can you review/merge @hannes-ucsc ? I will then test on the cluster.

[2016-02-18 02:26] fnothaft commented on #106
Sorry, but I went to test this and realized that I did it wrong. Can you look at https://github.com/BD2KGenomics/cgl-docker-lib/pull/84?

[2016-02-18 11:22] fnothaft commented on #106
This seems to be resolved with the latest PR I've opened against cgl-docker-lib and https://github.com/fnothaft/toil-scripts/commit/b5954c047f3699836f9b65d38a6f3ade0c611bcd. @jpdna can you test on your side? Until @hannes-ucsc or @jvivian merge https://github.com/BD2KGenomics/cgl-docker-lib/issues/85, you will need to manually build the images on your cluster.

With this, we make it all the way th

[2016-02-18 19:00] hannes-ucsc opened #107 "Remove all AWS credential-passing code from ADAM scripts"
From an email conversation:

mesosbox@ip-172-31-18-187:~$ docker run --net=host -it ubuntu
root@ip-172-31-18-187:/# apt-get install curl
Reading package lists... Done
<snip>
Setting up curl (7.35.0-1ubuntu2) ...
Processing triggers for libc-bin (2.19-0ubuntu6.7) ...
Processing triggers for ca-certificates (20130906ubuntu2) ...
Updating certificates in /etc/ssl/certs... 164 added, 0 removed; done.

[2016-02-18 19:28] fnothaft commented on #107
@heuermh has a fix here: https://github.com/fnothaft/toil-scripts/pull/4; we will merge this in shortly.

[2016-02-18 20:37] #100 closed

[2016-02-18 20:42] almussel commented on #104
Which dbsnp file do we want to use for the ADAM test? Is it already in s3 in VCF format?

[2016-02-18 20:43] fnothaft commented on #104
`s3://cgl-pipeline-inputs/variant_grch38/ALL_20141222.dbSNP142_human_GRCh38.snps.vcf`

[2016-02-18 21:00] heuermh commented on #104
Perhaps I should pick this up, since I want a toil script to do this for other reasons

[2016-02-18 22:07] heuermh commented on #104
I hacked this up but need to resolve some git stuff before creating a pull request

[2016-02-18 22:56] #106 closed

[2016-02-19 00:55] hannes-ucsc commented on #102
Trying to formalize the autoscaling algo here. @almussel, this is modified from what we agreed to yesterday.

The central data structure is a mapping that maps a sample ID to the number of nodes currently needed for that sample. We assume that the data structure is persistent, can be updated atomically, and with strong consistency and is shared among all Toil workers as well as the head node that'

[2016-02-19 01:50] almussel commented on #102
The initial draft of this is at: https://github.com/almussel/ADAM-Pipeline-Uberscript . It still contains stubs.

[2016-02-23 20:57] fnothaft opened #109 "Don't hard code us-west-2 in dbSNP URL"
See https://github.com/BD2KGenomics/toil-scripts/pull/73/files#diff-924a4449d5efb0928b3441ac334f0c85R350

[2016-02-23 21:00] fnothaft opened #110 "Fix logging in adam_pipeline"
See https://github.com/BD2KGenomics/toil-scripts/pull/73/files#r53671905

[2016-02-23 21:15] fnothaft opened #111 "work_dir should be optional in docker_call"
We pass CWD when using docker_call with Spark jobs, which seems a bit silly.

[2016-02-23 21:31] fnothaft opened #112 "Dedup mess of duplicated functions in GATK pipelines"
E.g., `docker_call`, `download_from_url`, other functions that just share a name, etc.

Many of these should be pulled out into a dedicated utils module, or something of that sort.

[2016-02-24 03:29] hannes-ucsc opened #113 "10-sample ADAM/GATK run"
- [x] @fnothaft: test https://github.com/fnothaft/toil-scripts/tree/no-creds
- [x] @fnothaft: file no-creds PR => #116
- [x] @fnothaft: review Justin's multi-sample script (part of PR #73)
- [x] @hannes-ucsc: merge PR #73
- [x] @hannes-ucsc: merge no-creds PR #116
- [x] @hannes-ucsc: fix https://github.com/BD2KGenomics/cgcloud/issues/101 on cgcloud master
- [ ] ~~@hannes-ucsc: release cgcloud 1.4.

[2016-02-24 03:54] fnothaft commented on #113
This test is running.

I have reviewed and tested this and it is included in #73 as https://github.com/fnothaft/toil-scripts/commit/954cb9d871a71613bbaac79469f84c4e8ccd9ce2.

[2016-02-24 03:59] hannes-ucsc commented on #113
Add comments like @fnothaft did above. I will incorporate them into the top comment.

[2016-02-24 20:10] almussel commented on #102
PR for this at #114

[2016-02-24 20:37] fnothaft opened #115 "Allow ADAM überscript to take .aws/credentials file"
Currently, we just take .boto.

[2016-02-25 02:13] hannes-ucsc commented on #115
Yes, `~/.aws/credentials` should be preferred for credentials since it has become the standard and is supported by multiple AWS SDKs (Boto, Java SDK to name two).

[2016-02-25 03:53] fnothaft commented on #113
Completed earlier today; waiting for updates from @almussel.

Running.

[2016-02-25 10:39] fnothaft commented on #113
https://github.com/BD2KGenomics/toil-scripts/pull/116

[2016-02-25 19:08] fnothaft opened #117 "ADAM output is corrupt in S3"
Brief synopsis is in #116, but the TL;DR is that the BAM written by ADAM is corrupt when downloaded from S3. I'm working to sort out whether something is going wrong when ADAM writes the BAM out, or if something is going wrong when the BAM is uploaded to S3. The header for the file is good (w00t) but the rest of the file can't be read.

[2016-02-25 19:17] #107 closed

[2016-02-25 21:34] jvivian commented on #112
@fnothaft, This one falls squarely on me.  Toil used to not support package structure, and as such, importing from a standard library didn't work.  Making this library will cause me to touch every pipeline, so  I'll confer with @hannes-ucsc and if he thinks it necessary we may call for a brief code moratorium while I make all the changes.

[2016-02-25 21:50] fnothaft commented on #112
@jvivian No worries! We won't want to make this change until the ADAM recompute is done, so no rush on this. I'll be down at UCSC either next Thursday or Friday. Perhaps let's circle the wagons then?

[2016-02-25 21:55] fnothaft commented on #117
This issue is somewhere in ADAM. I've opened https://github.com/bigdatagenomics/adam/issues/962 in parallel for tracking.

[2016-02-25 22:10] jvivian commented on #112
SG2M

[2016-02-26 02:51] hannes-ucsc commented on #22
s3am and curl are present. boto is provided through Toil. samtools is dockerized.

Closing.

[2016-02-26 02:52] #22 closed

[2016-02-26 15:44] fnothaft commented on #117
OK, we've got a fix at https://github.com/bigdatagenomics/adam/pull/964. I'm going to update the ADAM Docker container to pull this fix in, and then will test on the cluster and report back.

[2016-02-26 17:55] #38 closed

[2016-02-26 17:55] #41 closed

[2016-02-26 18:31] fnothaft commented on #117
No dice. From inside of the GATK:

[code]

I'm wondering if we wrote out a bad tag? Time to dig in more...

[2016-02-26 18:36] fnothaft commented on #117
We are writing record group IDs as integers, not strings:

[code]

From the SAM spec:

[code]

Should be a simple fix, although I'm a bit perplexed as to how we did that.

[2016-02-26 18:45] fnothaft commented on #117
Fix at https://github.com/fnothaft/adam/commit/14b41d508a0af86698dcf88eae3f7f077dc04d41. Retesting on the cluster...

[2016-02-29 00:29] #117 closed

[2016-02-29 01:21] fnothaft commented on #113
Marked these as resolved:

This is in progress:

This is contained in the überscript PR, so I think we should delete this action item from the ticket (since it is a dupe) or mark it as resolved:

These two action items should be merged as well:

[2016-02-29 01:25] fnothaft opened #121 "Autoscaling code prints times as floating point numbers"
E.g.,:

[code]

Something to do with this [line](https://github.com/BD2KGenomics/toil-scripts/pull/114/files#diff-7060afbea50ff85e89fe57836bc27314R243). Not important to fix now, methinks, but we should clean it up at a later date.

Also, if the cluster is one node, we should print `1 node` not `1 nodes`. This is completely inconsequential, but is a pet peeve of mine.

[2016-02-29 02:19] fnothaft opened #122 "Automatically detect worker instance type when autoscaling"
Currently, the [user has to provide their instance type to the metrics monitor](https://github.com/BD2KGenomics/toil-scripts/commit/aae5d5023209d94d8704df3d01910775a20da7d1). Since our clusters are homogenous, we should be able to look at the types of the current `toil-worker` instances.

I'm not sure if this is desirable (are we being too smart for our own good? would it be desirable to support h

[2016-02-29 08:27] fnothaft commented on #113
Merging #114/#123 will resolve:

Which will leave us with the following before the major recompute:

We'll then satisfy the final few with the recompute:

Although, I think our consensus on #114 was to not run in the root namespace.

[2016-02-29 20:16] fnothaft opened #124 "Do we need to create a new toil-box on each new cluster creation?"
Discussed on the call today between me and @hannes-ucsc. I thought we needed to create a new `toil-box` image whenever we registered a new key, @hannes-ucsc thinks we don't. TBD; we'll sort this out and fix it in the instructions later.

[2016-02-29 20:18] fnothaft opened #125 "Migrate away from using `multiprocessing` library to identify core count"
The multiprocessing library is safe to use only if called from inside of a job function. Since this can cause subtle bugs (i.e., you don't run it in a job function), we want to migrate away from the library. @hannes-ucsc has code in cgcloud we can use to replace.

[2016-03-01 19:13] fnothaft opened #126 "Spark/HDFS leader can die, causing our cluster to discover the true depths of sadness"
See #123. Essentially, since we bid spot instances for all of the instances in our cluster, the Spark master and HDFS namenode run on a spot instance. If and when this instance is revoked, our cluster achieves a deepness of despair that is truly bleak. Our worker nodes fail, but cannot be recovered since our Spark/HDFS workers and Spark jobs rely on knowing the master IP via parameters, and we can

[2016-03-01 20:33] fnothaft commented on #113
Cluster is running in namespace `/adam-sgd/` with cluster name `adam-sgd` and jobstore `adam-sgd-jobstore`.

[2016-03-01 21:31] hannes-ucsc commented on #125
https://github.com/BD2KGenomics/cgcloud/blob/master/lib/src/cgcloud/lib/ec2.py#L250

[2016-03-01 21:39] hannes-ucsc commented on #113
post-poned, we'll be working off of master

done

done for master, added separate entry:

[2016-03-01 21:44] hannes-ucsc opened #127 "Service jobs have no way of checking on the processes they represent"
We should add a check() method to the Service class signature that is repeatedly called by the loop that waits for the latch file in the job store. The check method should raise an exception if the process is dead/unusable.

[2016-03-01 21:45] hannes-ucsc commented on #127
This issue was moved to BD2KGenomics/toil#703

[2016-03-01 21:45] #127 closed

[2016-03-01 22:14] hannes-ucsc commented on #121
I just do `node(s)`

Alternatively, there is

https://pypi.python.org/pypi/inflect

[2016-03-01 22:32] fnothaft commented on #113
Update on the validation run: all 10 samples have scaled up a node, and are on to alignment.

[2016-03-02 00:56] hannes-ucsc opened #128 "adam-uberscript: batch calls to grow_cluster"
https://github.com/BD2KGenomics/toil-scripts/pull/123#issuecomment-190928467

[2016-03-02 20:40] fnothaft opened #129 "Consolidate ADAM jobs into a single task"
All of the Spark tasks should be consolidated into a single task in the `adam_pipeline`, since they do not write to/from the global jobStore and thus are not atomic-ish.

[2016-03-02 20:43] fnothaft opened #130 "ADAM Recompute"
Related to #113, but all the samples, not just 10, and just ADAM, no GATK.

- [ ] @fnothaft #113
- [ ] @hannes-ucsc #128
- [ ] @fnothaft #129
- [ ] @hannes-ucsc https://github.com/BD2KGenomics/cgcloud/issues/117
- [ ] @benedictpaten (?) https://github.com/BD2KGenomics/toil/issues/703

[2016-03-02 22:45] hannes-ucsc commented on #113
Spot instance `i-9bd26143` is not tagged. Security group `fan-test_toil-box` hints at namespace `fan-test` and role `toil-box`. Ok to terminate?

[2016-03-02 23:09] fnothaft commented on #113
Please do; that was from the `--spot-tentative` bug run.

[2016-03-03 02:19] hannes-ucsc opened #131 "Link fate of nodes in subclusters"
Depends on #703

Related to #644

1) Assume there is a Toil cluster with one or more Spark/HDFS subclusters. If one of the Spark/HDFS master processes fails, the service job representing it should also fail (#703).

2) When that service job fails, the service jobs that represent the Spark/HDFS slaves connected to that Spark/HDFS master should fail. As it is now I think the slave processes and thei

[2016-03-03 02:21] #131 closed

[2016-03-03 02:24] #102 closed

[2016-03-03 03:06] hannes-ucsc commented on #130
In lieu of BD2KGenomics/toil#644, BD2KGenomics/toil#703 BD2KGenomics/toil#706 and we are pondering the alternative solution of running a single, separate, large Spark cluster, provisioned by cgcloud, that is scaled up on demand. Thoughts:

1. We can run 260 alignments and GATKs in parallel but we can't run 260 ADAM jobs in parallel. IOW, we need a throttle on the number of ADAM jobs running concur

[2016-03-03 03:08] fnothaft commented on #130
Thanks for writing this up @hannes-ucsc; I was stuck in meetings from our scrum until 5PM and just got home, etc.

As an aside, are you/@benedictpaten working on https://github.com/BD2KGenomics/toil/issues/703?

[2016-03-03 03:38] fnothaft opened #132 "Modify überscript to run HG19 and GRCh38"
@jpdna has reheadered the HG19 files, which means that we can now run the adam-vs-gatk überscript pipeline on both HG19 and GRCh38.

@jpdna can you:

* Add a file similar to https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscript/input_files.py for HG19
* Modify the [überscript](https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscr

[2016-03-03 03:39] fnothaft commented on #113
@jpdna once #132 is complete, you should be able to run the pipeline by following the steps in https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscript/README.md.

[2016-03-03 04:52] fnothaft commented on #113
So, not good! Some of the alignment jobs seem to have failed for unknown reasons (logs are missing). I am respawning the cluster and will rerun with workDir deletion disabled.

[2016-03-03 05:22] fnothaft commented on #113
OK, relaunched.

[2016-03-03 14:53] jpdna commented on #132
PR #133 resolves this hopefully.

@fnothaft  - I want to now do a test run of this on the cluster.    Doing so should not  create any conflict with your runs given we are using seperate CGCLOUD namespaces, but wanted to double check with you before I start as if there is any danger  I'd wait.

[2016-03-03 16:23] fnothaft opened #134 "Restructure ADAM pipeline to have a single monolithic Toil job"
That runs all the Spark jobs. This is because the Spark jobs do not write to the file store and thus should not be considered atomic as is written now.

[2016-03-03 16:24] fnothaft commented on #126
- [ ] @hannes-ucsc https://github.com/BD2KGenomics/toil/issues/706
- [ ] @fnothaft #134

[2016-03-03 16:35] heuermh commented on #126
![Negative Comic Book Guy](http://i.imgur.com/M4g9uAb.jpg)

[2016-03-03 16:48] fnothaft opened #135 "Refactor codebase to a consistent case"
Pet peeve of mine; we mix camelCase and snake_case in this repo.

I suggest we move to ALLCAPS or RanDOmCaSE. Really, ALLCAPS is the best of all worlds because it gives you all the satisfaction and warm feelings you get from writing Fortran, but with Python performance.

[2016-03-03 18:52] fnothaft opened #137 "ADAM job should be able to use a static/external Spark cluster"
Currently, the ADAM pipeline is restricted to launching it's own cluster. We may want to point ADAM at a pre-existing Spark cluster that is sized outside of Toil.

[2016-03-03 19:03] fnothaft commented on #130
See #136.

See #138.

[2016-03-03 19:23] #134 closed

[2016-03-03 19:23] #110 closed

[2016-03-03 20:27] hannes-ucsc commented on #130
Benedict will be. But he wants to do things right which will take longer than would fit in the time frame of this paper.

I am now leaning towards the single cluster solution and removing the dependence on  BD2KGenomics/toil#706 and  BD2KGenomics/toil#703 from this issue. If you agree, I will remove them from the task list. I will work on testing spot instances with cgcloud Spark clusters.

[2016-03-03 20:55] fnothaft commented on #130
Let's discuss this on scrum today. Can @benedictpaten join us for scrum?

[2016-03-03 21:48] jpdna opened #139 "Sort Simons FASTQ files"
The BAM->FASTQ conversion using `samtools fastq -1 /data/output_1.fastq -2 /data/output_2.fastq -0 /data/output_0.fastq /data/mybam.bam` resulted in fastq files which were not sorted, so pairs did not line up between the two files.

I'm testing now sorting them using:
[code]
and if successful will run this sorting as a toil job, and update original BAM->FASTQ conversion code to sort by default.
I'

[2016-03-03 21:49] fnothaft commented on #139
Thanks @jpdna! Indeed, BWA-MEM is processing the current files as single ended reads:

[code]

[2016-03-04 02:32] fnothaft opened #140 "s3am block size is too small in alignment pipeline"
Specifically, it isn't set, and thus s3am defaults to a 5MB block size. Since a file is limited to 10k blocks, this limits file size to ~50GB.

We should do something like https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/rnaseq_cgl/rnaseq_cgl_pipeline.py#L873 and up the block size to 64M. We should also set the upload parallelism.

[2016-03-04 02:37] fnothaft opened #141 "Make s3am block size parametrizable"
Where given, s3am block size is hardcoded. E.g., https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/rnaseq_cgl/rnaseq_cgl_pipeline.py#L873. This is a low priority.

[2016-03-04 02:54] #140 closed

[2016-03-04 02:55] fnothaft commented on #141
Copying @hannes-ucsc's comment from #141:

Even better: we should pull every s3am call out into a library call that wraps the retry count, encryption, etc.

[2016-03-04 05:46] fnothaft commented on #139
Ah, also, can you make sure to get the NA12878 sample? We'll need that for the first recompute.

[2016-03-04 05:51] jpdna commented on #139
yup

[2016-03-04 06:05] jpdna commented on #139
you will find now the first sorted pair of fastq files for a single sample at:
`s3://cgl-sgdd-work/sequence-sorted`
The read pairs  in the sorted file do  all match one-to-one on row basis as expected.  The files are confirmed to have the correct (same) number of rows post sorting.
I ran the first 2500 paired-reads (head -n 10000) through bwa mem like
[code]
and output does refer to pairs, so all

[2016-03-04 10:04] fnothaft opened #143 "Use Boto for reference file download in gatk_germline, gatk_preprocessing as well"
Otherwise, we have to have some hacky code around, e.g., https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_gatk_pipeline/align_and_call.py#L477.

[2016-03-04 12:09] jpdna commented on #139
The sorted NA12878 fastq files can be found at
[code]
Note: the path/filename is the same as the previous unsorted ones, but files have been replaced with the sorted ones

[2016-03-04 15:47] fnothaft commented on #130
@hannes-ucsc how much work is involved in changing the Spark version of cgcloud.spark?

[2016-03-04 15:57] fnothaft commented on #130
Looks pretty straightforward, actually.

[2016-03-04 17:07] #69 closed

[2016-03-04 17:09] jvivian opened #144 "Download LAML samples (FireCloud)"
LAML samples weren't processed during recompute due to being misclassified in CGHub.

[2016-03-04 17:15] jvivian opened #145 "Write Spladder/Alt-Splice Pipeline"
- variant calling ~ 1h / single thread / 1G RAM
- AS calling ~ 2.5 h / single thread / 5G RAM
- QC run ~10min / single thread / < 1G RAM

I would suggest to lump variant calling and QC together.

As input data, I have currently used the hg38 Reference genome downloaded from ensembl and as annotation the Gencode V23 comprehensive. Let me know when you need more information.

Full list of dependenci

[2016-03-04 18:53] hannes-ucsc commented on #143
In #119, I added support for s3:// URL in *all* copies of the download_url() function this was merged as part of #123.

[2016-03-04 19:29] jpdna commented on #139
Batch run seems to be going well.

Once Shane (or others) no longer need the unsorted files we should delete them to save space.  I'll leave a README there when they are deleted.    I'll plan to follow up with Shane on when he is done with them.  @hannes-ucsc  - do you no who else may have access and want to keep the unsorted files available?

[2016-03-04 19:50] hannes-ucsc commented on #139
@jpdna, I asked that question on the email thread that raised this issue.

[2016-03-04 20:34] hannes-ucsc commented on #137
https://github.com/BD2KGenomics/cgcloud/issues/119

[2016-03-04 21:26] fnothaft commented on #143
Yeah, it looks like that is right. We have some code that downloads either `http(s)://` or `s3://` files (e.g., https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/gatk_germline/germline.py#L96) and we haven't updated https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscript/input_files.py to use `s3://` URLs.

[2016-03-04 21:33] fnothaft commented on #139
Thanks @jpdna! I'll start rerunning later this PM.

[2016-03-05 01:01] #144 closed

[2016-03-05 01:01] jvivian commented on #144
bucket: tcga-laml-data

[2016-03-05 01:06] jvivian opened #146 "Run LAML samples"
Through the CGL RNA-seq pipeline

[2016-03-05 02:32] hannes-ucsc commented on #144
Ideally though, I want all of our buckets to start with cgl- if its not too
late ...

On Fri, Mar 4, 2016 at 5:01 PM, John Vivian <notifications@github.com>
wrote:

--
Hannes Schmidt
Software Engineer
Center for Biomolecular Science and Engineering
University of California, Santa Cruz

(206) 696-2316 (cell)
hannes@ucsc.edu

[2016-03-05 02:49] jvivian commented on #144
Makes sense to me, but since the other TCGA bucket started with TCGA, that's how I tagged it, sorry =/

[2016-03-06 05:34] fnothaft opened #147 "Make it easier to pass options via überscript"
E.g., pipeline options (`-skip_alignment`), instance creation options (`-o etc_hosts ...`). We shouldn't have to add a new CLI option for each.

[2016-03-07 05:52] fnothaft opened #149 "Fix rsync calls in ADAM überscript"
* Remove /dev/null
* Use `rsync-cluster`

[2016-03-07 08:44] hannes-ucsc commented on #147
`--pipeline-option=--skip_alignment`
`-P=--skip_alignment`
`--cgcloud-option=-O=etc_hosts_entries=foo=1.2.3.4`
`-C=-O=etc_hosts_entries=`

This is simple to implement and relatively easy to use. `--` would only work if there was one thing to forward options to. We have at least two. I've tried `nargs='+'` and `ARGPARSE_REMAINDER` and both have trouble with option arguments starting with dash.

[2016-03-07 18:17] hannes-ucsc opened #150 "Review and fix short command line options in überscript"
Avoid things like -SD

Optionally replace --foo_bar with the more conventional --foo-bar.

[2016-03-07 19:25] fnothaft commented on #150
+1, thanks for creating this issue @hannes-ucsc!

[2016-03-08 00:29] #137 closed

[2016-03-08 00:29] #149 closed

[2016-03-08 01:14] fnothaft opened #151 "picard AddOrReplaceReadGroups fails unpredictibly"
For whatever reason, when using [Picard](https://github.com/BD2KGenomics/cgl-docker-lib/tree/master/picardtools) to attach ReadGroups to our aligned files, this occasionally fails and instead of writing out the same BAM file as we started with, but with the new read group attached, it writes out a 30KB corrupt BAM file. This is obviously disappointing.

- [x] @fnothaft will WAR this using `bwa-kit

[2016-03-08 01:27] hannes-ucsc opened #152 "Auto-scale external Spark cluster"
https://github.com/BD2KGenomics/toil-scripts/issues/130#issuecomment-191557158

[2016-03-08 02:07] fnothaft commented on #151
@jvivian is there a reason we're writing garbage metadata into the headers? I'm pretty sure not all data is being sequenced on [machine 12345](https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/batch_alignment/bwa_alignment.py#L511).

[2016-03-08 02:36] jvivian commented on #151
@fnothaft Yes. GATK _requires_ the PU field. The samples I was initially aligning did not have sequence machine info and that was a placeholder that never got put into argparse (my fault).  Should I fix that on a different branch?

[code]

[2016-03-08 02:38] fnothaft opened #154 "Rationalize differences between bwa and bwa-kit pipelines"
The bwa and bwa-kit pipelines used to share 3 out of 4 pipeline stages in `toil_scripts.batch_alignment.bwa_alignment`, but now they just share 1. Should we separate them out, consolidate them in some other way, etc...?

CC @jvivian for comment

[2016-03-08 02:38] jvivian opened #155 "Fix BWA parsing"
Currently doesn't check if a line is empty.

[2016-03-08 02:39] jvivian opened #156 "Cleanup BWA launch script"
mesos launch script should not have `--output_dir` set by default, especially writing to `/home/mesosbox/shared`.

[2016-03-08 02:39] fnothaft commented on #151
#153

[2016-03-08 02:45] fnothaft commented on #151
SRSLY? AH MAH ZING.

Ah yes, this is thorny now. Let me put a junk PU into #153.

I'd prefer to not have a proliferation of things into the argument parser. It's kinda limiting --> we're OK as long as our samples are single read group samples\*. Perhaps we could ask the user to provide "read group dictionary" files? Also, is it just me or is everything in bioinformatics broken? I feel a great sens

[2016-03-08 02:52] jvivian commented on #151
Ok, my go-to is to hide stuff like this in a default argument, but if that's not your preferred design choice I'm open to whatever.

That is why I bought beer on my way home.

[2016-03-08 03:03] jvivian commented on #154
@fnothaft

What features does the bwa method provide that you don't get in the bwa-kit?  If the answer is none, I'd vote we deprecate the script to the "ol' alignment script" graveyard and only use bwa-kit.

[2016-03-08 03:09] fnothaft commented on #154
So like, philosophically, I _really dislike_ bwa-kit because it is a proprietary binary distro of bwa (e.g., alt-aware alignment only works with the bwa-kit distro). Otherwise, it's really convenient. You may be right; it might be a good idea just to deprecate `bwa` though so that we have fewer moving parts.

[2016-03-08 03:13] fnothaft commented on #151
Yeah, I just don't think it makes sense to do that here because you'd expect to have many RGs per sample, with possibly different library settings. If you're running a lot of samples in batch, you'd possibly have different PU's per sample (e.g., I maxed out the ol' Amex and bought me a fleet of X10's and now I am sequencing everything that has DNA).

There is not enough, nor strong enough beer for

[2016-03-08 06:39] hannes-ucsc commented on #151
Maybe Picard was written under pressure to get a paper out the door and no one ever came back to fix all the shortcuts that had to be taken to meet the deadline.

[2016-03-08 06:53] hannes-ucsc commented on #156
Keep in mind that Toil 3.2.0 will have a reasonable default for --workDir that will put it on ephemeral.
Consider adding a comment that signifies argument as a stop-gap and that it should be removed.

[2016-03-08 07:19] jvivian commented on #156
@hannes-ucsc , I mistyped `--output_dir` somehow.  Sorry, `--workDir` is set to /var/lib/toil already.

[2016-03-08 11:57] fnothaft commented on #151
They've never published a paper about Picard, which makes it great to cite in papers...

[2016-03-08 15:23] heuermh commented on #151
Not everything is.  But if you want to point fingers I have just the t-shirt for you.

[2016-03-08 20:10] fnothaft commented on #129
Resolved by https://github.com/BD2KGenomics/toil-scripts/commit/0dabfcf8cc2f3cebf3c9f7d7a253a97590d82d6f.

[2016-03-08 20:10] #129 closed

[2016-03-09 01:18] hannes-ucsc opened #160 "ADAM überscript: Do not use cgcloud's --share to distribute toil-scripts to workers"
Not needed and potentially dangerous because it could conflict with Toil's built-in hot deployment

[2016-03-09 02:18] fnothaft commented on #160
I thought we were just rsync'ing to the toil leader. Where's this going on?

[2016-03-09 17:55] jvivian commented on #160
I wasn't aware that was our current procedure and I misinformed one of our production members.

@fnothaft -- Do you guys just clone toil-scripts to /home/mesosbox on the leader?  I want to add that step to cluster setup in my uber script.

[2016-03-09 17:57] fnothaft commented on #160
Yeah, we do a clone but not to the leader, we do it to the head node (generic-ubuntu-trusty-box). See here: https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscript/README.md

[2016-03-09 17:57] jvivian commented on #154
Doesn't that describe Picard?

[2016-03-09 18:00] jvivian commented on #160
Ah I see, wouldn't have that of doing it that way. Thanks for the example.

[2016-03-09 18:01] fnothaft commented on #154
We build Picard from source, no? I've always used Picard built from source, at least...

Some of the functionality in `bwakit` actually _can not_ be built from source. E.g., the [alt aware alignment](https://github.com/lh3/bwa/blob/master/README-alt.md) code depends on a JS interpreter that [doesn't run when built by hand (it segfaults immediately)](https://github.com/BD2KGenomics/cgl-docker-lib/p

[2016-03-09 18:09] jvivian commented on #154
My mistake.  My vote is still for the simpler method (which I'm assuming is also a bit faster).

[2016-03-09 19:50] almussel commented on #160
We are not currently using the --share option to cgcloud. We are using rsync to put the scripts on the toil-leader. That directory is being passed to the uberscript using an option --share that should be renamed.

[2016-03-09 19:52] jvivian commented on #160
The production team has to use `--share` to pass in the master encryption key and configuration file, so initially I thought I was saving a step by piggybacking off of that .

[2016-03-09 19:54] #139 closed

[2016-03-09 19:55] hannes-ucsc commented on #141
Use 64MB

[2016-03-09 19:58] hannes-ucsc commented on #109
This is fixefd but now hardcoded in Überscript as part of the job store.

[2016-03-09 20:01] #103 closed

[2016-03-09 20:01] #104 closed

[2016-03-09 20:02] #101 closed

[2016-03-10 00:55] hannes-ucsc commented on #160
Yes. So let's rename the überscript parameter from `--share` to `--toil-scripts`. There should be no need to use cgcloud's `--share` for Spark/ADAM. It should only be used for files that need to be present on a worker as soon as it comes up. The toil-scripts repository is not one of these things because it get hot-deployed by Toil.

[2016-03-10 05:15] fnothaft opened #162 "Pickling fails in adam_gatk_pipeline"
Some issue with a promise not getting picked properly, tbd.

[code]

[2016-03-10 16:04] fnothaft commented on #162
This isn't in the GATK portion.

[2016-03-10 16:18] fnothaft commented on #162
Our culprit is the promise [here](https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_pipeline/adam_preprocessing.py#L253). Oddly enough, if you move the promise into the `wrapJobFn` call, all is good, all is well. @hannes-ucsc @jvivian is this an expected limitation of the serialization used in toil?

I'll have a PR with this fix shortly. I'm just letting it run through

[2016-03-10 16:42] jpdna commented on #143
Am I correct that all that needs to be done is change https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscript/input_files.py from `http://` to `s3://` urls?

I just now tested that indeed all the s3:// urls in input_files.py  do work using `download_from_s3_url()` in isolation so I could make a PR now, but I'd like to test running the real ADAM uberscript pipeline

[2016-03-10 17:05] jpdna commented on #141
@hannes-ucsc - should I put this s3am wrapper library function in toil_scripts/__init__.py similar to https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/__init__.py#L5  ?

[2016-03-10 17:42] jpdna opened #163 "Generate MD5s for Simons fastq files"
Plan to generate MD5 for the *.fastq.gz  ( not uncompressed ) unless anyone objects.

[2016-03-10 19:27] dyollluap opened #164 "RSEM error rna-seq-unc pipeline"
Current setup:
toil-box (stable release, toil 3.1.4), new image March 6.
--single_end_reads option is the only different thing.

All the samples failed on this point:

WARNING:toil.leader:The jobWrapper seems to have left a log file, indicating failure: 1f870551-e2ea-4b41-a5a3-1c30c789f478
WARNING:toil.leader:Reporting file: 1f870551-e2ea-4b41-a5a3-1c30c789f478
WARNING:toil.leader:1f870551-e2ea-4b

[2016-03-10 21:03] hannes-ucsc commented on #143
yes. But don't call download_from_s3_url. Call download_url which should in turn call the former.

[2016-03-10 21:07] hannes-ucsc commented on #162
And no, there is no Toil-imposed limit to promised values. They are just files in the job store. I don't know about pickle's limitations.

[2016-03-10 21:08] hannes-ucsc commented on #163
If you need to download them for computing the checksum, that would be sort of pointless.

[2016-03-10 21:35] hannes-ucsc commented on #163
Not true if the error was introduced during upload.

What evidence drives that confidence and why does a degree of confidence lead to a absolute lack of concern?

[2016-03-10 21:39] hannes-ucsc commented on #163
Scratch the second one. I misread.

[2016-03-10 21:42] jpdna commented on #163
Nah - indeed I am still concerned sitting here thinking of it, and no good reason for assuming integrity of s3am upload.
I'll go ahead and do a validation run, in doing so I'll generate MD5 both for uncompressed fastq and also for the gzipped fastq.  Ought to have done that in the first place.

[2016-03-10 21:45] hannes-ucsc commented on #163
I agree. When you do that, in fact, the downloaded input's checksum should also be validated. I'm getting paranoid with that one person saying some of the parts in some of the files were "hard" to download, or took a long time.

[2016-03-10 22:06] heuermh commented on #111
This one
https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/batch_alignment/bwa_alignment.py#L178

or should ```docker_call``` be moving to some util class?

[2016-03-10 22:19] hannes-ucsc commented on #111
I've told at least three people to put their stuff into `toil_scripts/__init__.py` but I am worried that this will create unnecessary merge conflicts. Shall we start putting shared code into `toil_scripts/utils`, e.g  `toil_scripts/utils/docker.py` for docker related stuff?.

[2016-03-10 22:23] fnothaft commented on #111
As long as things are independent, they should be easy to resolve. I wouldn't worry too much, but:

Also SGTM.

[2016-03-10 22:29] dyollluap commented on #164
Also now getting a similar error at same point on the CGL RNA-seq pipeline, I'll post a separate issue.

[2016-03-10 22:33] dyollluap opened #165 "RSEM error rna-seq-cgl pipeline"
I'm getting another RSEM error that looks similar (more details on stacktrace) to the unc pipeline RSEM error... same setup. I notice there's RuntimeError line that includes a --paired-end option in the status. These are single end fastq.

WARNING:toil.leader:The jobWrapper seems to have left a log file, indicating failure: e07acfb1-22fb-41d6-8be2-5222ff62e7de
WARNING:toil.leader:Reporting file: e

[2016-03-10 22:35] fnothaft commented on #162
Yeah, it's more insidious than that though.

[2016-03-10 22:38] hannes-ucsc commented on #162
In that case you should get a different stack trace. The fragment you posted above is indicative of the missing parentheses.

[2016-03-10 22:43] fnothaft commented on #162
Yes, that is correct, but adding the parens just points out more errors, hence my "insidious" comment.

[2016-03-10 22:48] hannes-ucsc commented on #162
Feel free to post the new trace.

[2016-03-10 22:49] fnothaft commented on #162
It's not a trace per se. This is what I was talking about in scrum; we build the service job DAG in a way that makes it terminate before the jobs it is servicing run, etc. Architectural issues.

[2016-03-10 22:49] jvivian commented on #111
Ya, i have a PR I'm working on right now for a pipeline for doing alternative splicing analysis, and I've been exporting all the "general" functions to `__init__`.     I just made comments that separate the AWS , docker, job, and general functions.

I agree in some sense, but I've also been making modifications to a lot of these to make them simple and general purpose. I've seen a few that  get pa

[2016-03-10 23:40] fnothaft commented on #111
+1, small PRs were my assumption when I said:

[2016-03-11 18:24] fnothaft opened #167 "Concordance scripts for ADAM/GATK pipeline"
We chatted about this a while back, but didn't assign this to anyone. We're close to the point where we'll need to evaluate concordance between ADAM and GATK VCFs, as well as GRCh38 vs. HG19. I think there are two items here:

- [ ] Code for lifting GRCh38 VCFs to HG19 (or vice versa, but I've chosen GRCh38 -> HG19 since GIAB data is HG19)
- [ ] Code for performing concordance evaluation between f

[2016-03-11 18:24] fnothaft commented on #167
Also, [here is](https://github.com/BD2KGenomics/gatk-whole-genome-pipeline/blob/master/GenotypeConcordance.sh) @beaunorgeot's old concordance code.

[2016-03-12 19:01] fnothaft opened #168 "Add adapter trimming to pipeline"
There's a bit of confusion from the Harvard email thread as to whether the RAW BAMs have had their adapters trimmed or not. If you look at the hs37d5 BAMs, there are a fair number of hard clipped reads (but these all seem to be supplemental alignments). I'm going to add this to the pipeline (it's baked into BWAKIT, IIRC, so it's a simple add) and I think we should run a sample through with the ada

[2016-03-13 17:54] fnothaft opened #169 "Rejigger sorting in ADAM/GATK pipeline"
I'm going to move sorting out of alignment and into the `gatk_preprocessing` pipeline. This is because we don't need to sort before running ADAM (and we sort on export), so sorting twice is inefficient.

[2016-03-14 08:27] fnothaft commented on #132
Reopening this; @jpdna @hannes-ucsc the permissions for `s3://cgl-pipeline-inputs/variant_hg19_reordered` are screwy. We were using `https://` URLs, but the files aren't public and the AWS console won't let me make them public. I've [added a commit](https://github.com/fnothaft/toil-scripts/commit/591f63e2da0c0fac63b661fb4635a9b8b8dae74f) to #171 to WAR this, but it'd be good to have a second set o

[2016-03-14 15:06] fnothaft opened #172 "Cluster shrinker is... bloodthirsty"
I've been having an enjoyable experience recently, as the cluster shrinking code from the überscript has gone all Jason Voorhees and my toil-workers are being cut down in the streets, in front of my own, persistently weepy eyes.

There are two problems that I am aware of:

* Our [CPU utilization threshold](https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscript/ad

[2016-03-14 15:31] jvivian commented on #172
Dang, I used 1% for our run.

[2016-03-14 16:05] fnothaft commented on #172
Hah yeah, I've set it down to the 1%-5% range now. I'm more concerned about the conditional that is getting evaluated wrongly.

[2016-03-14 16:44] fnothaft commented on #172
Boom! This is an off-by-one error (sorta due to [this](https://github.com/BD2KGenomics/toil-scripts/commit/f50b8b13e8d2f31812b8163174dce006d8a08fce#diff-7060afbea50ff85e89fe57836bc27314) only being applied in one place) coupled with something that seems to be a race (it isn't clear that https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_uberscript/adam_uberscript.py#L40

[2016-03-14 17:34] #162 closed

[2016-03-14 17:35] #168 closed

[2016-03-14 17:49] hannes-ucsc opened #174 "Revive spot support in überscript for Toil cluster and standalone Spark cluster"
It was improved in d1f1adf997d2d7f73ca5a8afeccc6f66dc71e24c and removed by 2d9a0abfba0e6eb21388dc56cfdfe07f056649a9.

[2016-03-14 18:00] hannes-ucsc commented on #132
Probably ACLs that get in the way.

[2016-03-14 18:05] fnothaft commented on #132
Actually, the odd thing is that it looks like it is more the _absence_ of ACLs that is getting in the way.

[2016-03-14 20:01] hannes-ucsc opened #175 "Make toil-scripts pip-installable"
It will allow us to have external dependencies, e.g. on cgcloud.

Don't forget to remove `src/toil_scripts/ec2.py` and replace with dependency on cgcloud-lib.

[2016-03-15 02:01] fnothaft opened #176 "Clean up GATK preprocessing pipeline"
Misc issues:

* We sort, index, resort, reindex.
* Disk settings aren't given properly in `adam_gatk_pipeline`, so we OOD.

[2016-03-15 03:49] fnothaft opened #177 "BQSR result size is too large"
Bigger than `spark.driver.maxResultSize`:

[code]

Almost all of the time it is by 5 damned MB.

[2016-03-15 06:13] #152 closed

[2016-03-15 16:05] fnothaft opened #178 "Read @RG data in from manifest"
We should read the record group data in from our manifest file when running the ADAM/GATK pipeline. We have this data from the SGDD raw alignments, so if we're going to the trouble of generating a pipeline and BAM/VCF files that people will hopefully use someday, we might as well do this part correctly too.

[2016-03-15 17:31] heuermh commented on #177
Do we just have to bump ```spark.driver.maxResultSize``` here?
https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_pipeline/adam_preprocessing.py#L111

[2016-03-15 17:45] fnothaft commented on #177
Yeah, that's what I was going to do. Simplest sol'n.

[2016-03-15 17:56] #146 closed

[2016-03-15 18:40] jvivian opened #179 "Setup Openstack Mesos Cluster"
Document steps to setup a Mesos Master/Worker on Openstack.

[2016-03-15 19:59] hannes-ucsc opened #180 "Test auto-scaling of external spark cluster"
Implemented in #157

Use a set of copies of this file:

s3://fnothaft-us-test-west-2/sequence/SRR062643_1.fastq.gz and s3://fnothaft-us-test-west-2/sequence/SRR062643_2.fastq.gz

[2016-03-15 22:47] fnothaft opened #182 "Use cgcloud to terminate instances in adam_überscript"
Right now, we're using Boto, but this isn't blocking. We should use cgcloud instead after #181 merges.

[2016-03-15 23:01] almussel opened #183 "Standalone Spark cluster thread is not started"

[2016-03-16 02:09] fnothaft opened #184 "multiprocessing called from toil leader in adam_gatk_pipeline"
E.g., https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/adam_gatk_pipeline/align_and_call.py#L518

[2016-03-16 02:37] fnothaft commented on #176
Question for @hannes-ucsc @benedictpaten @jvivian @almussel. If I set the disk requirement for a job function and then I encapsulate the job, does that disk requirement get set for all follow-on jobs?

[2016-03-16 03:03] fnothaft opened #185 "Why—oh god why—are we passing ints as strings?"
While fixing #184, I found that we were calling `str(multiprocessing.cpu_count())`, which I thought was bizarre. It turns out that this is an optimization, because we wind up passing this `cpu_count` to the GATK as a core count, and since that call is going through `docker_call`/`check_call`, etc., it needs to be a string, and so on.

But, upon further reflection here and in #176, it turns out tha

[2016-03-16 03:03] fnothaft commented on #176
Actually, I'm going to punt on the disk requirements. I think that issue will be solved by fixing #184 and #185. Passing a disk requirement to all jobs in the subgraph actually introduces new problems, as I discuss in #185.

[2016-03-16 04:38] fnothaft opened #186 "multiprocessing called from toil leader in gatk_{germline,processing}"
Similar to #184. Specifically, https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/gatk_processing/gatk_preprocessing.py#L722 and https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/gatk_germline/germline.py#L584.

[2016-03-16 07:58] hannes-ucsc commented on #182
https://github.com/BD2KGenomics/cgcloud/issues/128 and PR https://github.com/BD2KGenomics/cgcloud/issues/129

Let's include this in #181 because how #181 currently works around the asynchrony of instance termination is expensive and ineffective.

[2016-03-16 16:18] jpdna commented on #163
There are 8 files listed below which show a MD5 discrepancy.
These are being regenerated and validated now
[code]

[2016-03-16 16:54] fnothaft opened #188 "Picard MarkDups may fail, but Toil lives to die another day"
Haven't root caused the exact reason that MarkDups is failing, nor have I root caused why the job isn't failing, but we see MarkDups fail (writes an error to the log, doesn't write output), and then toil continues and runs INDEL realignment, which does fail (because it can't find it's input file). I'll fix this and tack it on to #187.

[2016-03-16 16:58] fnothaft commented on #188
Also, due to [yonder this line](https://github.com/BD2KGenomics/toil-scripts/blame/master/src/toil_scripts/gatk_processing/gatk_preprocessing.py#L502), we run mark duplicates without ever using the output of mark duplicates.

[2016-03-16 17:19] fnothaft opened #189 "GATK wants karyotypic order for HG19"
Well you know, your reference files might be in karyotypic order and it'd be a damn shame if your reads weren't in karyotypic order because that would be a completely unrecoverable error now wouldn't it be. I mean, since all of our inputs are indexed, there's no possible way that we could use the index to read  the BAM file in random order.

Also, since we validate the order of ref sequences liste

[2016-03-16 22:38] fnothaft opened #191 "Picard MarkDuplicates denies the existence of the SAM 0x800 flag"
I give up: https://sourceforge.net/p/samtools/mailman/message/32800679/. Supposedly this was fixed in Picard 1.96? That would make sense, if we weren't running:

[code]

?????????
\<pained facial expression\>
More sleuthing:

[code]

Which checks out when cross referenced with the Picard releases page.

[Anyways, as far as I can tell, the fix isn't to—you know—fix Picard](https://www.biostars.org/

[2016-03-17 02:05] hannes-ucsc commented on #182
BD2KGenomics/cgcloud#129 has been merged.

[2016-03-17 02:06] hannes-ucsc commented on #182
I'd be ok to leave this out of #181 and take care of this in a separate PR. Your call, @fnothaft.

[2016-03-17 04:56] jvivian opened #192 "Create dummy encryption key for toil-scripts unit tests"
Upload a dummy test file with that encryption key.  Encryption key will go on Jenkins server once CI is setup.

[2016-03-17 04:57] jvivian opened #193 "Write pipeline to re-encrypt all input data"
Old convention uses an https:// url which is zone-specific.   New encryption method concatenates an s3 url to the master key to generate per-file encryption keys.

ex:   s3://bucket/dir/key

[2016-03-17 05:53] hannes-ucsc commented on #192
Wouldn't it be simpler to create a new key for every test run?

[2016-03-17 05:53] hannes-ucsc commented on #192
... as part of the test setup, I mean.

[2016-03-17 06:04] jvivian commented on #192
Not sure I understand -- The test is for downloading an encrypted file from S3, so I figured we'd have a permanent test file in S3 along with an associated encryption key for that file.

[2016-03-17 06:20] hannes-ucsc commented on #192
The purist would say that tests should depend on as few external resources as possible. So ideally, the test setup should create the test file. Don't you have an function for uploading? If so, you could combine the upload and download function into a single test. And if not, it might still make sense to hardcode the key in the code and write it out to disk during test setup.

[2016-03-17 06:23] jvivian commented on #192
Ok cool, I'll work on that.

[2016-03-17 16:21] jpdna commented on #163
The above 8 files failed to validate  almost certainly due to out of disk error, they are the highest outliers for input file size and calculations look like these could indeed just exceed the limit.  This left slightly different truncated files in different runs leading to the MD5 discrepancy - I will replicate the error  just to be sure.

I've changed instance types used so that this won't be a

[2016-03-17 18:48] hannes-ucsc opened #194 "File names for intermediate files on standalone Spark cluster conflict between samples"
All output should go into an HDFS subdirectory. This will help with #105 because it would let us do a recursive rm on the directory for emergency clean-up. Unused intermediate files should still be removed eagerly on a file-by-file basis.

[2016-03-17 18:56] fnothaft commented on #194
Ah yes! Good catch...

[2016-03-17 19:04] fnothaft opened #195 "Why are we checking node CPU utilization for nodes we don't want?"
I was looking at some metrics logs and just wanted to understand the logic in the autoscaling script. When we decrease our node request, we only stop the nodes whose CPU utilization is low. Is this meant as a proxy for "which nodes are still running jobs?" Would it be possible to replace this with querying mesos to find out which nodes our jobs are running on?

[2016-03-17 20:00] hannes-ucsc opened #196 "SGDD buckets are lacking README and manifest"
Both cgl-sgdd-reorg and cgl-sgdd-work buckets are lacking manifests and README.

The README should explain the provenance of the data and the directory layout. The manifest should list the checksums of all files.

Let me know if I am missing something here ...

[2016-03-17 20:05] fnothaft opened #197 "Bump to GATK 3.5"
I'm running into a [HTSJDK-related issue in the GATK](http://gatkforums.broadinstitute.org/gatk/discussion/6408/error-haplotypecaller) that is supposedly resolved in GATK 3.5.

[2016-03-17 20:08] jpdna commented on #196
cgl-sgdd-reorg  files have *.md5 files in parallel to the files.
But certainly I can make a manifest file listing all files also with the MD5 checksums too , do you have an example specific format that the manifest should conform to?

I will do the same for cgl-sgdd-work, which is goal of #163

[2016-03-17 21:24] jvivian commented on #71
Closing. Duplicate of #112.

[2016-03-17 21:25] #71 closed

[2016-03-17 23:35] jvivian commented on #145
Waiting on closure of #112.

[2016-03-18 00:35] fnothaft opened #198 "Only use S3 URLs in adam_überscript"
The HG19 ACLs in `s3://cgl-pipeline-inputs/` are b0rk3d. Using `s3://` URLs seems to resolve this issue.

[2016-03-18 01:47] #172 closed

[2016-03-18 02:54] hannes-ucsc commented on #195
Yes

Probably. But Toil auto-scaling will take care of this. So I wouldn't botther.

[2016-03-18 02:59] hannes-ucsc commented on #196
My mistake re MD5's. My preference is using S3 object metadata, then .md5 files, then manifests. So we should be good once the .md5 files show up in cgl-sgdd-work.

So we just the READMEs briefly explaining the directory structure, file naming conventions and provenance of the files.

But let me know if I am not making sense.

[2016-03-18 03:31] fnothaft commented on #195
SGTM. Closing...

[2016-03-18 03:31] #195 closed

[2016-03-20 01:05] jvivian opened #200 "Releases 1.0"
Test production pipelines
- [x] CGL
- [x] UNC
- [x] BWA
- [x] Exome

[2016-03-20 19:52] Jeltje opened #201 "rnaseq_cgl_pipeline.py requires toil_scripts"
When I try to run `launch_cgl_mesos.sh` from toil-master, I get
`/usr/bin/python: No module named toil_scripts.rnaseq_cgl`

How do I install toil-scripts ?

[2016-03-20 19:56] jvivian commented on #201
Are you git cloning the entire toil-scripts repo onto the master?  The top line in the launch script should be adding toil-scripts/src to the PYTHONPATH

`export PYTHONPATH=$(python -c 'from os.path import abspath as a, dirname as d;import sys;print d(d(d(a(sys.argv[1]))))' $0)`

I clone the repo, then call the launch script:
`./toil-scripts/src/toil_scripts/rnaseq_cgl/launch_cgl_mesos.sh`

[2016-03-20 20:01] Jeltje commented on #201
Why would I want to clone the full repo if I only need two scripts? Is that a new way of doing things?

[2016-03-20 20:03] Jeltje commented on #201
I git clone to a local directory, then `cgcloud ssh` the things I need.

I guess ssh to the master, then git clone wouldn't be any harder than what I'm doing.

[2016-03-20 20:05] jvivian commented on #201
So you can import functions from other scripts, common libraries, etc. This is an ongoing effort to minimize the amount of duplicated code that's in every script: https://github.com/BD2KGenomics/toil-scripts/pull/190

[2016-03-20 20:10] Jeltje commented on #201
Makes sense. Outside the scope of this ticket, but I would like a way to set up a toil cluster with all necessary requirements (s3am, git...)

[2016-03-20 20:10] #201 closed

[2016-03-20 22:09] Jeltje opened #202 "TASK LOST errors from toil"
`./toil-scripts/src/toil_scripts/rnaseq_cgl/my_cgl_mesos.sh`
where the only difference between that and `launch_cgl_mesos.sh` is the name of the name of the run folder (jeltje-cgl-run-2)
I get repetitions of this error:

[code]
I killed it when it got up to
`INFO:toil.batchSystems.mesos.batchSystem:...launching Mesos task 5123`

Complete error file is [here](http://hgwdev.cse.ucsc.edu/~jeltje/toil

[2016-03-20 23:44] hannes-ucsc commented on #202
I would run the script again and scan `/var/lib/mesos` on a worker for `*.err` and `*.out` files. Might be `*.stderr` and `*.stdout`. If you have multiple workers you need to scan the worker on which the lost task occurred or all of them if you don't know which worker. Hopefully, those files will contain more info on why the executor died.

[2016-03-20 23:49] hannes-ucsc commented on #201
Either

`cgcloud ssh toil-leader git clone https://.../toil-scripts`

or

`git clone https://.../toil-scripts  && rsync toil-leader -av toil-scripts :`

[2016-03-20 23:53] hannes-ucsc commented on #201
I would do this by writing a cgcloud plugin that extends ToilBox (and hence toil-box) with whatever software you need. This is (insufficiently) documented here

https://github.com/BD2KGenomics/cgcloud/blob/master/core/README.rst#customization

[2016-03-21 01:49] Jeltje commented on #202
Ah, this is our old friend
`pkg_resources.DistributionNotFound: The 'bd2k-python-lib==1.10.dev6'`
and that would be because I ran pip install s3am on the workers, as required by
[the readme](https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/rnaseq_cgl/README.md)

[2016-03-21 02:03] hannes-ucsc commented on #202
While those instructions are generally correct, they don't take into account that cgcloud automatically installs those dependencies on cluster nodes by cgcloud. Did you also install Docker manually? If so, that  would be redundant either.

I added a clarifying comment in

https://github.com/BD2KGenomics/toil-scripts/commit/e9a7b78cc72468c2c3a66eea32d620781eb1804d

If you install any Python applica

[2016-03-21 02:03] #202 closed

[2016-03-21 04:47] Jeltje opened #203 "rnaseq_cgl_pipeline.py check that unzip is installed"
It appears that the code does not check for the unzip program, which leads to a fairly incomprehensible `No such file or directory` error from mapsplice

[2016-03-21 04:48] jvivian commented on #203
This pipeline does not use unzip.

[2016-03-21 14:38] Jeltje commented on #203
Well, it crashes with that error.

[2016-03-21 14:55] jvivian commented on #203
Can you post a stacktrace?

[2016-03-21 15:05] Jeltje commented on #203
Yeah of course, I'll rerun it. Had to terminate the cluster last night because it turns out you can't stop a spot cluster...

[2016-03-21 15:48] jvivian commented on #192
Will be resolved in #190

[2016-03-21 15:48] #192 closed

[2016-03-21 16:36] jvivian commented on #165
Given the file names I saw and the amount of single-end data processed during the recompute I'm going to go ahead and close this for now.

[2016-03-21 16:36] #165 closed

[2016-03-21 16:57] hannes-ucsc commented on #192
#190 should refer to this using

[code]

in the body (the first comment) or

[code]

in the title.

[2016-03-21 17:45] Jeltje commented on #203
Can't reproduce the error!
However, the pipeline now runs in full with no WARNING or ERROR messages, but the expected output file (SRR1559172.tar.gz) does not appear in s3:cgl-driver-projects/test/rna-test

Log file [here](http://hgwdev.cse.ucsc.edu/~jeltje/toil/cgl.log)

[2016-03-21 18:04] jvivian commented on #203
Can you post the contents of the launch script?

[2016-03-21 18:11] Jeltje commented on #203
[code]

I do realize I should have probably removed the output_dir.

[2016-03-21 18:12] jvivian commented on #203
Any chance if you know if the output showed up in the output dir?

[2016-03-21 18:14] Jeltje commented on #203
I did not create a /home/mesosbox/rnaseq_output and there is none on the master after the run. But also no error about that.

[2016-03-21 18:15] jvivian commented on #203
It would've been on the worker.  I'm running this pipeline (and the UNC one) as part of a test, so I'll see if i can replicate.

[2016-03-21 18:16] Jeltje commented on #203
okay I can have a look there

[2016-03-21 18:17] Jeltje commented on #203
Nope, not on either worker.

[2016-03-21 18:17] jvivian commented on #203
Ok, thanks for checking.

[2016-03-21 18:58] jvivian commented on #203
Could not reproduce. My run just finished and my file showed up in S3.

s3://cgl-driver-projects/test/test_SRR1559177_Sample_NB2318tumor1_T_C3WFVACXX.tar.gz

[code]

[2016-03-21 19:45] jvivian commented on #200
Tested CGL.  UNC and BWA tests are running now.

Paul offered to test the exome pipeline.

[2016-03-21 20:20] hannes-ucsc commented on #203
I see unzip mentioned here. What's the relationship between this issue and https://github.com/BD2KGenomics/cgcloud/issues/134. Is the latter invalid? What triggered Jeltje to believe that a missing unzip was the culprit?

[2016-03-21 20:32] jvivian commented on #203
Unzip is needed for the UNC rna-seq pipeline, not this one.

An error that she wasn't able to reproduce.

[2016-03-21 20:33] #203 closed

[2016-03-22 04:35] fnothaft opened #204 "HaplotypeCaller OOMs"
Should pass `-Xmx` to the HaplotypeCaller (and really, all of the GATK tools).

[2016-03-22 04:37] fnothaft commented on #200
The `bwakit` side of the BWA pipeline definitely works. Don't know if that is sufficient for your test.

[2016-03-23 09:12] jvivian commented on #193
Based on #190 — waiting on merge to submit PR.

[2016-03-23 17:13] hannes-ucsc commented on #193
I wouldn't. You can base a new PR on the branch for #190. Once the latter is merged into master, rebasing the new PR on master is very likely to be straight-forward.

[2016-03-23 17:39] #105 closed

[2016-03-23 17:39] #194 closed

[2016-03-23 17:55] jvivian commented on #193
That's what I've done to work on it locally, I just figured it didn't make sense to actually open the PR since it won't be merged until #190 is.

[2016-03-23 21:02] almussel opened #206 "Add mock-ups to ADAM/GATK pipelines"
@hannes-ucsc and I discussed this after scrum today.

In mock-up mode, the steps of the pipeline should do the following, given a small fastq and associated bam file (<20mb):

BWA alignment: Downloads input fastq and pre-computed mock.bam file. Renames bam file and writes to the appropriate s3 bucket.
ADAM preprocessing: Runs as usual, but using tiny instances. Produces a preprocessed bam file whi

[2016-03-23 22:40] jvivian commented on #193
@hannes-ucsc — Should I close this given our discussion with @briandoconnor?  I'll keep the code in my personal repo in case we ever need it.

[2016-03-24 01:26] hannes-ucsc commented on #193
Yes

[2016-03-24 01:26] #193 closed

[2016-03-24 15:52] jvivian opened #207 "Add ability for RNA-seq CGL pipeline to pull files from Ceph"

[2016-03-24 18:35] jvivian opened #209 "Toil recompute write up for Jing"
Needed for Xena browser

[2016-03-24 18:36] fnothaft commented on #206
Use this BAM: http://www.cs.berkeley.edu/~massie/bams/mouse_chrM.bam

[2016-03-24 18:58] jvivian commented on #209
# Toil Recompute

The goal of the Toil recompute was to process ~20,000 RNA-seq samples to create a consistent meta-analysis of  four datasets free of computational batch effects.   Using Toil, UCSC's pipeline architecture, we ran this recompute in a little over 3 days on a large AWS cluster for a cost of $1.30 per sample.

## Datasets
We chose unaligned RNA samples from 4 datasets

<Dataset Image

[2016-03-24 19:19] jvivian commented on #209
# Toil Recompute

The goal of the Toil recompute was to process ~20,000 RNA-seq samples to create a consistent meta-analysis of four datasets free of computational batch effects. Using Toil, UCSC's pipeline architecture, we ran this recompute in a little over 3 days on a large AWS cluster for a cost of $1.30 per sample.

## Datasets
We chose unaligned RNA samples from 4 datasets

1. The Cancer Gen

[2016-03-24 21:23] fnothaft opened #210 "Support running ADAM/GATK pipeline on local storage"
* Bypass storage to S3
* Run Spark using `local`

[2016-03-25 18:02] #209 closed

[2016-03-27 07:32] hannes-ucsc opened #211 "Review all asserts"
An `assert` statement is used to catch bugs. We currently abuse them to validate inputs. Those abuses should be changed to raises of specific exceptions.

See comment by @fnothaft to the 1.0 PR.

https://github.com/BD2KGenomics/toil-scripts/pull/208#discussion_r57346105

[2016-03-28 17:34] #155 closed

[2016-03-28 17:34] #156 closed

[2016-03-28 17:34] #200 closed

[2016-03-28 21:55] jvivian commented on #207
@hannes-ucsc and I discussed this and multipart-downloading will likely not be needed and all credential setups for Ceph can be baked into the ~/.boto file with the following:

[code]

[2016-03-28 21:55] #207 closed

[2016-03-29 19:03] jvivian opened #212 "Create test input for RNA-seq pipeline"
Given how large STARs index is, I will need to recreate indexes for RSEM, STAR, and Kallisto targeting a single chromosome to get this to run on a small-ish box.

[2016-03-29 19:15] hannes-ucsc commented on #206
We will be adding an `outputs=` kwarg to `docker_call()` that is a dictionary whose keys are names of expected output files and whose values are either None (a zero length file will be created in mock mode) or a URL (the file will be downloaded and used as the output in mock mode). In production mode, the dictionary will be use to assert the existence of the outputs.

@fnothaft suggested to add an

[2016-03-29 22:22] hannes-ucsc opened #213 "Create an S3-only job store (without SDB)"

[2016-03-29 22:22] #213 closed

[2016-03-30 05:37] jvivian commented on #212
continuous integration inputs tool inputs are found:
s3://cgl-pipeline-inputs/rnaseq_cgl/ci

sample input located here:
s3://cgl-driver-projects-encrypted/ci

Working on generating a sample that doesn't need to be encrypted in case we can't have keys on the jenkins slave.

[2016-03-30 05:37] #212 closed

[2016-03-30 05:50] jvivian opened #214 "Setup CI for rna-seq CGL"

[2016-03-30 20:20] jvivian opened #216 "Add dynamic disk resource allocation for rnaseq_cgl"

[2016-03-30 23:50] briandoconnor opened #217 "Update upload/download SOP for clients"
@hannes-ucsc is working on an improved download experience.  Update the SOP accordingly.  See https://docs.google.com/document/d/1lBrgVzkP1iUe5YY0gJPUS2bCLsMBK3y2Kv2BgdLHxUk/edit  It looks like there is only an upload SOP, we need a download SOP that uses AWS accounts (rather than public URLs which present a security risk/expense for us).

[2016-03-30 23:52] hannes-ucsc commented on #217
This is great, we're finally tracking this stuff.

`needs work` is typically only used to mark PRs that, well, need work before they can be merged.

[2016-03-30 23:55] briandoconnor commented on #217
See related bug that's more general SOP for production.  I think this is a duplicate but I'll leave it for the technical side that @hannes-ucsc  can document to hand off to the production team to add to the general SOP: https://github.com/BD2KGenomics/core-operations/issues/24

[2016-03-31 00:07] #214 closed

[2016-03-31 00:09] briandoconnor opened #218 "Support ICGC Storage System on S3/Ceph in Workflows"
@jvivian this is a longer term goal, if we go with the ICGC storage system we want to make sure workflow inputs/outputs can use this system.

Assigning to Hannes so he can reassign

[2016-03-31 00:10] briandoconnor commented on #218
Does this belong in https://github.com/BD2KGenomics/core-operations/issues instead?

[2016-03-31 00:18] hannes-ucsc commented on #218
Nope, this is the correct project, @briandoconnor.

[2016-03-31 00:23] briandoconnor opened #219 "Documentation and paper tasks"
For @arkal and @jvivian

Issue for paper and documentation tasks

[2016-03-31 00:24] briandoconnor opened #220 "Caching and validation stats for paper"

[2016-03-31 00:29] almussel commented on #206
@fnothaft it looks like the file you provided is truncated. I tried to view it with samtools and I'm getting:
[code]

[2016-03-31 19:07] fnothaft commented on #206
@almussel interesting! I just took a look at this, and it seems to be OK:

[code]

Can you send me the command you are running?

[2016-03-31 19:17] almussel commented on #206
I downloaded the file to my laptop before running samtools view. When I view it directly it works fine...

[2016-03-31 19:19] fnothaft commented on #206
Seems OK yonder over here as well:

[code]

[2016-03-31 19:20] almussel commented on #206
Weird... In any case, I can create the fastq I need so it's fine?

[2016-03-31 19:22] almussel commented on #206
Okay I tried it with curl and it's fine. For some reason clicking on the link to download messes it up.

[2016-03-31 19:23] fnothaft commented on #206
Hah! Good ol' UC Berkeley IT at work there... Glad to hear that this seems to be resolved now.

[2016-04-01 01:51] jvivian opened #221 "Refactor rnaseq_cgl pipeline"
In preparation for releases/2.0, Dockerizing the pipelines, and code shame:

- Get rid of dictionaries wherever possible
- Fix convoluted static declaration to allow use of `consolidate_tarballs_job` library function
- Clean-up processing steps
- Any other crufty bits I find

[2016-04-04 17:06] jvivian opened #223 "Run samples through hg19 alignment and exome pipeline"
Confirm exome pipeline can accept bams aligned with hg19 pipeline

[2016-04-05 07:30] #169 closed

[2016-04-05 07:30] #176 closed

[2016-04-05 07:30] #177 closed

[2016-04-05 07:30] #178 closed

[2016-04-05 07:30] #184 closed

[2016-04-05 07:30] #185 closed

[2016-04-05 07:30] #188 closed

[2016-04-05 07:30] #189 closed

[2016-04-05 07:30] #191 closed

[2016-04-05 07:30] #197 closed

[2016-04-05 07:30] #198 closed

[2016-04-05 07:30] #204 closed

[2016-04-06 15:52] jvivian commented on #223
I finished running a sample:  wcdt DTB5 (normal and tumor) through the hg19 alignment and subsequently ran the hg19 exome pipeline on the resultant bams.

Aligned bams located:
s3://cgl-driver-projects-encrypted/test/normal_dtb5_test.bam
s3://cgl-driver-projects-encrypted/test/tumor_dtb5_test.bam

Exome variant output:
s3://cgl-driver-projects/test/paul_hg19_alignment_and_exome_test/variant_test_d

[2016-04-06 15:52] #223 closed

[2016-04-06 17:19] jvivian opened #224 "Transfer rna-seq pipeline inputs to Ceph"
Pulling inputs from S3 is too costly when running on open stack.

[2016-04-06 17:20] jvivian opened #225 "Refactor BWA alignment pipeline to make use_bwakit the default"
bwa_kit is not only faster, but more robust than the other method (thanks @fnothaft ).

[2016-04-11 20:41] hannes-ucsc opened #227 "Pin versions of pip-installed dependencies in jenkins.sh"
… to prevent updates to a dependency from breaking our build.

[2016-04-11 20:42] hannes-ucsc commented on #227
See https://github.com/BD2KGenomics/toil-scripts/pull/226#issuecomment-208544760 for an example where it bit us.

[2016-04-12 19:23] melissacline opened #228 "Give the RNASeq CGL pipeline an option to take paired fastq files as inputs rather than tarballs"
Here are the reasons why we (the production team) would like this:
1. If we provide the two fastq files as inputs, we can verify that they're roughly the same size and that the names seem to match, which would allow us to identify problem inputs earlier.  If the fastqs are packaged in tarballs, these details are hidden.
2. The batch alignment pipeline takes paired fastqs.  If we can take the same

[2016-04-12 20:47] jvivian commented on #228
@melissacline @Jeltje

The reason I chose tarballs as the primary input method is:

- Only one input to pull
- Most sequencing data I've seen is a tarball with several fastqs inside, meaning a person is required to unpack the tarball and combine the fastqs into pairs (unless they're being delivered already as fastq pairs).

Good news is (hypothetically),  this is already supported.  The help menu

[2016-04-13 18:20] jvivian opened #229 "Create hotfix release 1.1"
Fix launch scripts to be consistent.

[2016-04-14 00:21] hannes-ucsc opened #231 "Exome variant pipeline reported to be slow"
@dyollluap mentioned this morning that he felt the exome variant calling pipeline was surprisingly slow.

[2016-04-14 04:38] jvivian commented on #231
@dyollluap Any chance I could get:

- The launch script used
- Number of samples / Number of workers
- Total run time
- Config list so i can check sample sizes and run one as a test

[2016-04-14 05:29] jvivian commented on #229
- Set `disk=`  argument for MuTect
- Fix launch scripts for clarity

[2016-04-14 16:22] jvivian opened #233 "Add FastQC to RNA-seq pipeline"

[2016-04-14 16:27] jvivian opened #234 "Add RSeQC (hg38) to RNA-seq pipeline"

[2016-04-14 16:49] jvivian opened #235 "Containerize: FastQC"

[2016-04-14 17:00] jvivian commented on #235
wrong project, reopening.

[2016-04-14 17:00] #235 closed

[2016-04-14 20:55] jvivian commented on #225
Handled in hotfix 1.1, forgot to reference.

[2016-04-15 00:27] #112 closed

[2016-04-15 00:27] #227 closed

[2016-04-15 00:31] hannes-ucsc commented on #225
In that case paste the commit IDs here.

[2016-04-15 18:20] hannes-ucsc commented on #216
Blocked on promises.

[2016-04-15 21:43] dyollluap opened #237 "exome variant pipeline fails but still gives output files"
There were 3 (out of 24) datasets that failed on the toil exome variant pipeline and there were results.tar.gz for all but 1 of the datasets posted to S3. I cannot tell which 3 failed.

2 suggestions:
- It would be helpful to prevent a dataset that has failed from continuing with any further analysis and not posting any results to S3 (as is done in the other pipelines)
- It would be helpful to get

[2016-04-15 21:55] jvivian commented on #237
This is paradoxical — If the sample failed in the pipeline, it cannot upload results to S3 (which is the last step in the pipeline).

This is the case in the exome variant pipeline.  Are any of the result tarballs empty? If they are not, then what makes you think the samples failed?  If you have `--retryCount` set in the launch script, seeing a non-deterministic failure for a sample doesn't guaran

[2016-04-15 22:03] dyollluap commented on #237
Paradoxical yes!
All the tarballs uploaded to s3 are > 80MB. Only 1 missing from the anticipated output.
The final lines in the Stacktrace gave the listing of errors, which affected 3 jobs. The cluster is terminated now, this was a follow up note for the record though I haven't yet cleaned out the jobstore if it's of any value...

[2016-04-15 22:10] jvivian commented on #237
It's possible for a single sample to have caused 3 job failures due to job parallelization, which is a bit misleading.

I will think on this — I'm adding logging to the refactored RNA-seq pipeline which tells you every step you're on (and the UUID associated).  I'll see if there's any easy way to scrape the log.txt file you get from running the pipeline to compile these for you.

[2016-04-18 16:40] jvivian opened #238 "Setup CI for exome variant pipeline"

[2016-04-18 16:40] jvivian opened #239 "Setup CI for alignment pipeline"

[2016-04-18 16:47] jvivian commented on #237
@dyollluap — Closing this issue.

[2016-04-18 16:47] #237 closed

[2016-04-18 17:33] hannes-ucsc commented on #237
@dyollluap, feel free to reopen if you're not satisfied with the resolution. @jvivian, I'd prefer if a commit was referenced as a resolution, since you [mention](https://github.com/BD2KGenomics/toil-scripts/issues/237#issuecomment-210665271) making changes to the code.

[2016-04-18 17:46] jvivian opened #240 "Apply hotfix for releases/1.1 to master"

[2016-04-18 22:13] jvivian commented on #179
Closing in lieu of BD2KGenomics/cgl-docker-lib#115

[2016-04-18 22:13] #179 closed

[2016-04-18 22:23] almussel opened #242 "Use JSON or similar syntax for configuring ADAM/GATK pipeline"
Actual samples should be referenced via a TSV manifest.

[2016-04-19 01:25] #206 closed

[2016-04-19 06:02] jvivian commented on #145
Rewritten and rebased, just need to do a test run.

[2016-04-19 17:25] jvivian opened #244 "Setup CI for SplAdder pipeline"

[2016-04-19 17:35] jvivian commented on #238
Waiting on Tumor/Normal test inputs from @jpfeil

[2016-04-19 17:35] jvivian commented on #239
Waiting on #225

[2016-04-19 19:11] #229 closed

[2016-04-19 19:11] #240 closed

[2016-04-19 19:26] jvivian opened #245 "Replace bloated CLI with JSON blob (RNA-seq pipeline)"

[2016-04-19 20:03] jvivian commented on #225
Misread this ticket when I initially closed.  Currently alignment can progress through two separate paths, one of which appears to be objectively inferior, based on results I've gotten.  This refactor will slim down the alignment pipeline to essentially just call bwa_kit which is not only faster, but less complex and more robust than the other method.

[2016-04-19 20:15] jvivian opened #246 "Refactor alignment pipeline to use common lib"

[2016-04-19 20:53] #145 closed

[2016-04-19 21:11] hannes-ucsc opened #247 "docker_call shouldn't use mutable default arguments"
https://github.com/BD2KGenomics/toil-scripts/pull/230#discussion_r59642270
https://github.com/BD2KGenomics/toil-scripts/pull/230#issuecomment-212131667

[2016-04-19 22:34] #221 closed

[2016-04-19 22:36] #247 closed

[2016-04-22 23:10] #225 closed

[2016-04-22 23:10] #246 closed

[2016-04-25 17:43] jvivian opened #250 "Rename batch_alignment to bwa_alignment"
The name mismatch between the .py and the directory is a little obnoxious, coupled with the fact that "batching" is accounted for in almost every toil pipeline.

[2016-04-26 00:50] jvivian opened #252 "Improve user interface for RNAseq container"
if pipeline input arguments are not provided, the wrapper script should intelligently look for the inputs regardless of mount setup.

[2016-04-27 17:48] fnothaft opened #253 "BWA refactor broke ADAM/GATK pipeline"
The [recent BWA refactor](https://github.com/BD2KGenomics/toil-scripts/commit/32139555267234b0f39a9ce9400d5eafb601b085) broke the interface that the ADAM/GATK pipeline was using. We should refactor the ADAM/GATK pipeline to use the refactored pipeline.

[2016-04-27 17:53] jvivian commented on #253
Ah, apologies — I only saw that two imports were affected which I replaced with common lib references.

[2016-04-27 17:55] fnothaft commented on #253
No worries! I'm reverting my local back to before the commit came in, and I'll patch this later.

[2016-04-28 22:39] jvivian opened #254 "Improve speed of RNA-seq CI"
Use new inputs generated for BWA CI

[2016-04-29 19:01] fnothaft opened #256 "Add spot pricing back to ADAM überscript"
We removed support for spot instances in https://github.com/BD2KGenomics/toil-scripts/commit/2d9a0abfba0e6eb21388dc56cfdfe07f056649a9#diff-06a900fff8217905f65f50fa4ee0e9a9. We should add this back, and fix various syntax issues in the überscript.

[2016-04-30 16:59] dyollluap opened #257 "SE fastq quick fix version of rnaseq-cgl-pipeline fails"
The quick fix for single end RNA-seq is failing at the first job task before starting anything.

This is the complete stacktrace:

`INFO:toil.lib.bioio:Logging set at level: INFO
INFO:toil.common:Using the mesos batch system
I0430 16:51:45.571316  3396 sched.cpp:164] Version: 0.25.0
I0430 16:51:45.573550  3407 sched.cpp:262] New master detected at master@172.31.10.74:5050
I0430 16:51:45.573676  34

[2016-05-02 20:00] jvivian opened #259 "Change sample input method for RNA-seq pipeline"

[2016-05-02 20:29] jvivian opened #260 "Make toil-scripts pip installable"

[2016-05-02 21:01] jvivian commented on #260
We want to remove the launch scripts, but need to deal with the nasty PYTHONPATH requirement we have for running these scripts.  After speaking with @hannes-ucsc, our solution revolves around making toil-scripts pip installable, and letting each script be responsible for generating the config/manifest at the behest of the user.   i.e. running the entrypoint with `--generate-config` or something al

[2016-05-03 20:39] hannes-ucsc commented on #257
A communication between @jvivian and @dyollluap on Slack—for future reference, please keep the communication in the ticket GH or summarize out-of-band communication in the ticket—brought to light that the cause for the exception was an illegally named file in S3.

In all new code, we need to make sure that asserts aren't used to validate user input. If the user made a mistake, an explicit exceptio

[2016-05-03 20:39] #257 closed

[2016-05-03 22:38] fnothaft commented on #132
This was resolved by #159.

[2016-05-03 22:38] #132 closed

[2016-05-03 22:39] fnothaft commented on #151
This was resolved by https://github.com/BD2KGenomics/toil-scripts/commit/1a9a644bf5a152fc049fb792a3276d831a442964#diff-edaec62e95d22c39dec02f323c5c3e6a.

[2016-05-03 22:39] #151 closed

[2016-05-04 17:29] #256 closed

[2016-05-04 19:02] jvivian opened #262 "Make RNAseq modular"
Depending on inputs provided

[2016-05-04 20:07] #239 closed

[2016-05-05 18:19] hannes-ucsc opened #263 "toil-scripts should depend on s3am"
Remove from cgcloud then?

[2016-05-05 18:40] #263 closed

[2016-05-09 19:29] hannes-ucsc opened #264 "Spurious assertion failure in file-AWS import test"
http://jenkins.cgcloud.info/job/toil-pull-requests/1242/testReport/junit/src.toil.test.jobStores.jobStoreTest/FileJobStoreTest/test_importExportFile__size_partsizeplusone__otherJobStore_awsjobstoretest/

[2016-05-09 19:30] hannes-ucsc commented on #264
This issue was moved to BD2KGenomics/toil#853

[2016-05-09 19:30] #264 closed

[2016-05-09 21:17] hannes-ucsc commented on #220
Closed with @arkal's approval.

[2016-05-09 21:17] #220 closed

[2016-05-09 21:18] arkal commented on #220
http://toil.readthedocs.io/en/latest/architecture.html#caching

[2016-05-09 21:21] hannes-ucsc commented on #219
This is insubstantial. Provide substance and reopen if necessary.

[2016-05-09 21:21] #219 closed

[2016-05-09 21:32] hannes-ucsc commented on #242
@almussel to create PR soon

[2016-05-09 21:37] hannes-ucsc commented on #231
@dyollluap please provide the requested info and reopen. TY

[2016-05-09 21:37] #231 closed

[2016-05-09 21:40] hannes-ucsc commented on #228
Already implemented.

[2016-05-09 21:40] #228 closed

[2016-05-09 21:41] hannes-ucsc commented on #224
s3://cgl-pipeline-inputs/rnaseq_cgl on Ceph

[2016-05-09 21:41] #224 closed

[2016-05-09 21:43] hannes-ucsc commented on #238
Blocked on https://github.com/BD2KGenomics/protect/issues/6

[2016-05-09 21:44] hannes-ucsc commented on #234
Poorly developed tool.

[2016-05-09 21:44] #234 closed

[2016-05-09 21:46] hannes-ucsc commented on #216
Depends on https://github.com/BD2KGenomics/toil/issues/729

[2016-05-09 21:49] jvivian commented on #21
Not relevant anymore (Peter has pipelines in CWL now).

[2016-05-09 21:49] #21 closed

[2016-05-09 21:50] jvivian commented on #65
Not currently requested so will close unless it is asked for.

[2016-05-09 21:50] #65 closed

[2016-05-09 21:52] hannes-ucsc commented on #196
Obsoleted by FireCloud disaster.

[2016-05-09 21:52] #196 closed

[2016-05-09 21:53] hannes-ucsc commented on #34
Obsoleted by ICGC storage system.

[2016-05-09 21:53] #34 closed

[2016-05-09 21:54] hannes-ucsc commented on #40
Obsoleted by ICGC storage system.

[2016-05-09 21:54] #40 closed

[2016-05-09 21:54] hannes-ucsc commented on #51
Should be tracked somewhere else.

[2016-05-09 21:54] #51 closed

[2016-05-09 21:56] jvivian commented on #164
I've checked and the RSEM method for handling single-end data is identical to CGL method, which works.  If this issue comes up again please re-open, although ideally most future samples will be run on the CGL pipeline which is much easier to debug.

[2016-05-09 21:56] #164 closed

[2016-05-09 21:56] #160 closed

[2016-05-09 21:56] jvivian commented on #10
Closing as a rough duplicate of #216 which will handle this.

[2016-05-09 21:56] #10 closed

[2016-05-09 21:58] jvivian commented on #54
I'm blocked on this until we get working HG38 inputs — which means until someone has the bandwidth to look into this or Broad decides to release a bundle for HG38.

[2016-05-09 21:58] hannes-ucsc commented on #163
@jpdna, feel free to reopen if this isn't actually done.

[2016-05-09 21:58] #163 closed

[2016-05-09 21:59] hannes-ucsc commented on #154
We fully switched to bwa-kit.

[2016-05-09 22:00] #154 closed

[2016-05-09 22:02] hannes-ucsc commented on #135
Consensus is that toil-scripts should use PEP8 compliant naming.

[2016-05-09 22:20] hannes-ucsc commented on #125
multiprocessing.cpu_count is used to limit the number of jobs of a certain type running concurrently per node without knowing the core count.  Unfortunately this method fails on heterogenous clusters. It should therefore be replaced with configuration chosen by the user. Making the choice programmatically is very hard considering the many batch systems Toil supports.

[2016-05-09 22:22] hannes-ucsc commented on #124
The answer is "No". If you find this to be inaccurate, please reopen.

[2016-05-09 22:23] #124 closed

[2016-05-09 22:23] #113 closed

[2016-05-09 22:23] jvivian commented on #67
Closing since Pindel isn't in the exome variant pipeline

[2016-05-09 22:24] fnothaft commented on #54
I assembled GRCh38 inputs, if those are sufficient for you.

[2016-05-09 22:24] hannes-ucsc commented on #92
This is implemented: `--save-bams`

[2016-05-09 22:25] #92 closed

[2016-05-09 22:25] hannes-ucsc commented on #89
Please provide input and reopen.

[2016-05-09 22:25] #89 closed

[2016-05-09 22:27] hannes-ucsc commented on #39
Obsoleted by @briandoconnor's new architecture for the core.

[2016-05-09 22:27] #39 closed

[2016-05-09 22:29] jvivian commented on #54
Awesome, this was a couple months ago and I was bit hazy and where we left off as every method I tried ended up failing.   Are the GRCh38 inputs in the BD2K bucket?

[2016-05-09 22:30] #67 closed

[2016-05-09 22:32] hannes-ucsc commented on #174
Dupe of #256

[2016-05-09 22:32] #174 closed

[2016-05-09 22:33] fnothaft commented on #54
Yeah, they're in the GRCh38_variant subdirectory, iirc. I can get you full URLs if needed.

[2016-05-09 22:37] hannes-ucsc commented on #55
The pupose of the ticket is to validated CWL support for Toil. Since MC3 status is unknown, @jvivian to ask @tetron for a alternative CWL-based workflow.

[2016-05-09 22:40] hannes-ucsc commented on #109
Non-Spark pipelines switched to s3:// URLs.

[2016-05-09 23:29] #175 closed

[2016-05-09 23:29] hannes-ucsc commented on #175
Dupe of #260

[2016-05-09 23:32] hannes-ucsc commented on #141
That library call exists now. It should default to passing 64MB  for `--part-size`.

[2016-05-09 23:39] hannes-ucsc commented on #147
The überscript should take a JSON-like config similar to the one we are adding in #265 to address #242. It remains open if the pipeline configs should be nested in the überscript config.

[2016-05-09 23:45] #260 closed

[2016-05-09 23:51] hannes-ucsc commented on #36
Should this still be assigned to @Jeltje?

[2016-05-09 23:56] hannes-ucsc commented on #186
Line numbers have changed:

https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/gatk_germline/germline.py#L640

https://github.com/BD2KGenomics/toil-scripts/blob/master/src/toil_scripts/gatk_processing/gatk_preprocessing.py#L657

And yes, please change into user-provided parameter. There is no other reliable way.

[2016-05-10 00:11] tetron commented on #55
I have a variant calling pipeline from bcbio-nextgen.  I tried running it previously but was blocked by #816.  I see that is now resolved so I'll try again.

[2016-05-10 02:06] briandoconnor opened #266 "Add ICGC Storage System support"
Need to add support so Toil workflows in Toil-Scripts can read/write data to the ICGC Storage System we're using on AWS.  Also, this includes supporting the automatic creation of the JSON used by the metadata tracking system.

[2016-05-10 02:07] briandoconnor commented on #266
Start with RNASeq-CGL

[2016-05-10 18:13] jvivian commented on #55
Cool, thanks @tetron — if it's successful let me know!

[2016-05-10 21:39] benbfly commented on #80
Are these bigWigs publicly available?
Thanks! Ben.

[2016-05-10 21:39] hannes-ucsc commented on #186
And also ProTECT.

[2016-05-10 21:51] jvivian commented on #80
Hi @benbfly,  We no longer have access to the account where these GTEx big wigs were initially stored, but I handed them all off to Kate Rosenbloom, member of the Genome Browser team, who is (or has) integrated them as tracks in the Genome Browser.  You can email her: kate@soe.ucsc.edu , to see if she can redistribute them to you.  If she can't, please let me know and we'll see if we can work some

[2016-05-10 21:54] hannes-ucsc commented on #211
[code]

[2016-05-10 22:02] fnothaft commented on #211
A nit, but I would prefer `_require` to `_assert`. This would be consistent with Scala's assertion library, and makes assertions (checking internal state) vs. requirements (checking user inputs) more distinctive.

[2016-05-10 22:02] hannes-ucsc opened #267 "Release 2.0.0 of toil-scripts"
This will be the first pip installable release. Create release then hand off to production. Then change setup.py on master to refer to unstable Toil.

Blocked on #245

[2016-05-10 22:03] hannes-ucsc commented on #216
Depends on #216

[2016-05-10 22:03] hannes-ucsc commented on #216
Depends on #267

[2016-05-11 00:57] hannes-ucsc commented on #55
@tetron, please reassign to @jvivian once you validated your bcbio-nextgen pipeline.

[2016-05-11 01:05] hannes-ucsc commented on #186
@arkal, can you add reference to ProTECT ticket here?

[2016-05-11 01:14] hannes-ucsc commented on #211
Makes sense.

[2016-05-11 01:14] hannes-ucsc commented on #267
Production team will verify release.

[2016-05-11 03:54] arkal commented on #186
https://github.com/BD2KGenomics/protect/issues/28

[2016-05-11 15:05] tetron commented on #55
So now I'm running into a new problem: https://github.com/BD2KGenomics/toil/issues/859

[2016-05-11 17:49] #254 closed

[2016-05-12 22:26] hannes-ucsc opened #269 "Add concurrency test for GridEngine"
See AbstractBatchSystemJobTest

[2016-05-12 22:27] #269 closed

[2016-05-16 17:22] jvivian commented on #211
A `require` function is being added to the common lib via #268.  Once it is merged I can work on this.

[2016-05-16 17:26] jvivian commented on #238
@jpfeil Where are the reads you used for the tumor / normal samples you implemented in the ProTect CI?

[2016-05-16 17:28] jvivian opened #270 "Refactor variant pipeline to use config / manifest"
The pipeline should also be made modular.

[2016-05-16 17:31] jvivian opened #271 "Refactor MuTect to run by chromosome"

[2016-05-16 17:37] jpfeil commented on #238
pimmuno-test-data/CI_test_input/reads/

Normal DNA: ERR01639X_HCC1954BL.chr6.1.fq.gz
Tumor DNA: ERR01636X_HCC1954.chr6.1.fq.gz

Here is a link to the SRA page:
http://www.ncbi.nlm.nih.gov/sra/?term=ERR016361

[2016-05-16 17:40] arkal commented on #271
https://github.com/BD2KGenomics/protect/issues/27

[2016-05-16 18:17] jvivian commented on #271
MuTect runs single-threaded.  I'll be borrowing @arkal's method of splitting the sample up by chromosome.

[2016-05-17 19:20] briandoconnor opened #272 "Register RNASeq-CGL to Dockstore"
some tweaks will be required, pull request back to John

[2016-05-17 19:20] briandoconnor commented on #272
Related to https://github.com/BD2KGenomics/core-operations/issues/39

[2016-05-17 22:05] jvivian opened #273 "Modify Docker Run to fix root issue"

[2016-05-17 22:07] jvivian commented on #273
As discussed in a meeting today, we want to be agnostic about the origin of our docker containers, which means handling the Docker root ownership issue ourselves.

Here's a starting point @hannes-ucsc

- Start container in the background and keep running
    - ` docker run --name test -d ubuntu tail -f /dev/null`
- Run command (and block, although can be run without blocking)
    - `docker exec te

[2016-05-18 17:16] hannes-ucsc commented on #273
The problem is that for a given image you don't know what the entry point is, so you don't know what to pass to exec.

How about we `docker exec … chmod` using a different, minimal image (say, ubuntu) that `-v`-mounts the same data directory.

[2016-05-18 17:51] #245 closed

[2016-05-18 17:51] #259 closed

[2016-05-18 17:51] #262 closed

[2016-05-18 18:01] tkdagdelen opened #274 "minor error: incorrect path to bash shell in batch_alignment readme"
This is very minor. Just wanted to point out that in the Readme for batch_alignment, the path to the shell script at the bottom is /toil-scripts/src/toil_scripts/spladder_pipeline/launch_bwa_hg38_no_alt.sh but it seems like it should be /toil-scripts/src/toil_scripts/batch_alignment/launch_bwa_hg38_no_alt.sh

[2016-05-18 18:12] jvivian commented on #274
Oops, thanks for catching that!  Appreciate it =)  I'll fix it in my next PR.

[2016-05-18 19:17] jvivian opened #275 "Investigate --requester-pays and common library compatibility"

[2016-05-18 20:08] jvivian commented on #135
Not the case in my pipelines, but in ADAM pipelines.

[2016-05-18 20:09] jvivian commented on #253
@fnothaft Is this still bjorken?

[2016-05-18 20:10] jvivian commented on #218
Duplicate of #266

[2016-05-18 20:11] #218 closed

[2016-05-18 20:11] jvivian commented on #210
@fnothaft This still an issue?

[2016-05-18 20:11] fnothaft commented on #135
As in, the ADAM pipelines are inconsistent?

[2016-05-18 20:12] fnothaft commented on #210
Yes, leave open.

[2016-05-18 20:13] fnothaft commented on #253
Not sure, need to review recent changes.

[2016-05-18 20:14] jvivian commented on #167
@heuermh What is the status of this ticket?

[2016-05-18 20:15] jvivian commented on #150
No longer necessary due to refactoring to use a config.

[2016-05-18 20:15] #150 closed

[2016-05-18 20:15] jvivian commented on #147
Fixed by config refactoring.

[2016-05-18 20:15] #147 closed

[2016-05-18 20:17] almussel commented on #183
I will review the commit in the issues/183-spark-standalone-fixes branch and create a PR.

[2016-05-18 20:17] jvivian commented on #143
@jpdna — The download_url() function in the common library supports s3 URLs.  Does that solve this issue?

[2016-05-18 20:19] jvivian commented on #126
Will be resolved by BD2KGenomics/toil#786

[2016-05-18 20:20] jvivian commented on #111
Resolved by common library refactoring

[2016-05-18 20:20] #111 closed

[2016-05-18 20:26] jvivian commented on #36
@arkal has a container that @Jeltje is benchmarking.

[2016-05-18 20:29] hannes-ucsc commented on #217
Might be obsoleted by ICGC storage system before I get to this ticket.

[2016-05-18 20:30] jvivian commented on #186
@jpfeil  please update.

[2016-05-18 20:31] heuermh commented on #167
Needs to be refactored after library code was added, will update it this week.

[2016-05-18 20:32] jvivian commented on #267
First stable pip installable release for production pipelines.  Consistent configuration and invocation across the production pipelines.

@melissacline — May i remove the production label from the UNC pipeline or is there still demand for it?

[2016-05-18 20:37] jvivian commented on #141
Won't fix — hardcoded as 50MB in common library and @hannes-ucsc deems that sufficient.

[2016-05-18 20:37] #141 closed

[2016-05-18 20:43] jvivian commented on #273
@hannes-ucsc and I discussed this and our solution is to run the tool image a second time, overwriting the entry point, to `chown` the mount directory where output is placed by the first tool.

[2016-05-18 20:49] jvivian opened #276 "Add MuSe and Pindel to exome var pipeline"

[2016-05-18 20:49] hannes-ucsc commented on #125
We'll resolve this at a more general level with BD2KGenomics/toil #717.

[2016-05-18 20:50] hannes-ucsc commented on #125
Once that is done, we will need to refactor the existing pipelines to use that  mechanism.

[2016-05-18 20:57] hannes-ucsc commented on #135
IIRC, consensus was that toil-scripts should be PEP-8 compliant as in `FooClass.bar_method()`. John says that his pipelines are compliant.

@almussel agreed to go over the Spark/ADAM pipelines to fix any potential non-PEP-8-compliance issues.

[2016-05-18 20:58] jvivian opened #277 "Make stand alone pre-processing pipeline"
After exome refactoring #270

[2016-05-18 21:12] jvivian opened #278 "Update the spreadsheet and workflow status"

[2016-05-18 22:10] jvivian commented on #135
Sorry for being so unclear — I only meant that the ticket might've been opened for the ADAM pipelines as mine are all consistent.

[2016-05-19 00:32] fnothaft commented on #135
Oh, yeah! That is correct.

PEP-8 mixes cases? I don't often do this, but `¯\_(ツ)_/¯`.

In spite of my generally not being enthused with PEP-8, I agree with following PEP-8. We should document that somewhere, like in a `CONTRIBUTING.md`. ;)

[2016-05-19 18:23] jvivian opened #279 "Convert rna-seq config to YAML"

[2016-05-20 04:28] jpfeil opened #280 "Refactor germline pipeline using common lib"

[2016-05-22 03:26] jpfeil opened #281 "Make a deFuse pipeline"

[2016-05-22 22:34] almussel commented on #135
@hannes-ucsc @fnothaft Should I check for all pep8 compliance (line lengths, trailing whitespace, etc.) or just for proper naming conventions?

[2016-05-23 20:34] jvivian commented on #275
`--requester-pays` doesn't interfere with common library's method of downloading samples.

[2016-05-23 20:34] #275 closed

[2016-05-25 17:15] hannes-ucsc commented on #135
Just naming IMO. Before we have something that enforces PEP-8 on each build it doesn't make sense to do more thorough cleaning.

[2016-05-25 18:54] jvivian opened #282 "Deprecate sudo from common lib docker call"

[2016-05-25 18:54] jvivian opened #283 "Remove bad RSEM post-processing from RNA-seq pipeline"

[2016-05-28 23:31] jvivian opened #284 "Put exome inputs in Synapse"

[2016-05-28 23:32] jvivian opened #285 "Make RNAseq functions reusable"

[2016-05-29 20:00] jvivian opened #287 "Add maxCores fix to RNA-seq / BWA pipelines"
Currently Toil's `maxCores` argument doesn't really work since Docker tools are run with the cores value from `multiprocessing.cpu_count()`

[2016-05-31 16:58] #274 closed

[2016-05-31 16:58] #279 closed

[2016-05-31 16:58] #282 closed

[2016-05-31 16:58] #284 closed

[2016-05-31 16:58] #238 closed

[2016-05-31 16:58] #270 closed

[2016-05-31 16:58] #276 closed

[2016-05-31 18:59] almussel commented on #121
The offending line of code no longer exists.

[2016-05-31 18:59] #121 closed

[2016-05-31 21:17] jvivian opened #288 "Move generic job functions for tools to common lib (RNA-seq)"

[2016-05-31 21:58] hannes-ucsc commented on #288
What's this about?

[2016-05-31 22:19] jvivian commented on #288
@arkal and I were discussing modularity of the toil-scripts, and the way he's setting up ProTect is that generic job functions for tools should be imported and that the pipeline script is mostly just a wrapper wiring these tools together. This avoids having to import from another pipeline and centralizes our tool base of job functions.  I.E.  aligners.py contains job functions like STAR and BWA,

[2016-05-31 23:13] hannes-ucsc commented on #288
And where exactly would those function live?

[2016-05-31 23:17] jvivian commented on #288
Common lib:   toil_scripts/lib/quantifiers.py,   toil_scripts/lib/aligners.py, etc

[2016-06-01 17:37] briandoconnor opened #289 "Collect timing information on all production workflows"

[2016-06-01 17:38] jvivian opened #290 "Improve readability of configs (exome/RNA)"
Having comments on the same line as YAML inputs means once the user fills in options the formatting gets all yucko.

[2016-06-01 20:40] jvivian opened #291 "Test pip install pipelines on mesos cluster"
To ensure there aren't issues or conflicts with hot deployment.

[2016-06-01 20:51] fnothaft commented on #288
I'm not entirely sure I grok this proposal. General thoughts below:

I strongly agree with this! I've strived to be like this in the `adam_gatk_pipeline`. Is this similar to what @arkal is planning to do?

However, an important caveat:

Oftentimes, you want to import an encapsulated series of jobs from another pipeline. E.g., the `gatk_preprocess` stages are shared between `adam_gatk_pipeline` and

[2016-06-01 21:12] jvivian commented on #288
My operating definition is that a pipeline = a workflow = a stitched together DAG of jobs. Given that definition, I don't think of STAR or BWA or etc as jobs because they're composed of multiple different jobs (e.g., download_sample, download_indices, align_reads, etc).

We have the same definition.  STAR and BWA aren't part of a pipeline until someone does the wiring.  They can be defined as stan

[2016-06-01 21:19] fnothaft commented on #288
Ah, I'm not sure if we're on the same page here. In my world, since BWA is a DAG of jobs, BWA _is_ a pipeline.

That might not be sufficiently general for tools that need a globally mounted filesystem, instead of a global file store. For instance, ADAM needs S3 or HDFS paths, right now. We could probably make this work though. Not sure I've got a solution, but I'll think about it.

[2016-06-01 21:25] jvivian commented on #288
Look at the BWA pipeline — BWA(kit) is defined in a single job function.

Enforcing those path types could be part of the pipeline's responsibility. Once you've generalized and exported the job functions,  the "pipeline" becomes little more than a wrapper to handle job wiring, promise resolution, CLI, and `require()` / user input handling.

[2016-06-01 21:30] fnothaft commented on #288
Ah, got it now! So to parrot things back then, what you're proposing is that the exact functional stage that transforms some filestore IDs into new analyzed filestore IDs is moved into a "tools" package.

How would this work for tools that make multiple analysis passes? E.g., `IndelRealignment` or `BQSR` in the GATK. Would we enforce that those would be written as a single job?

[2016-06-01 21:34] jvivian commented on #288
![image](https://cloud.githubusercontent.com/assets/7576256/15726445/d192f3f6-2805-11e6-9320-7ab6e673108c.png)

I've thought about this and bit, and my personal take on it is that if it is *unlikely*, or outside of our caring, that someone would only want to run a part of that 4-step GATK pre-processing, then it should be supplied to the user as "gatk_preprocessing", with RTC dynamically calling I

[2016-06-01 21:38] fnothaft commented on #288
In my view of a "just world", no one ever runs INDEL realignment ever again (conditioned on them using a reassembly based variant caller --> e.g., HaplotypeCaller; you somatic people using IR + MuTect are still OK in my book). But yes, if what you're saying is that we don't package up the GATK as a "tool" (and we just package it as a pipeline), that is OK by me.

However, my point still stands. I'

[2016-06-01 21:58] jvivian commented on #288
IMO, if the indexing step has different input requirements than the tool (like in Kallisto's case), they are separate job functions.  This is just an example, because people are going to have opinions on return format (here I'm returning a FileStoreID of a tarball with Kallisto's outputs), and whether or not arguments should always be FileStoreIDs and not something like a URL.  Sometimes it's conv

[2016-06-01 22:07] fnothaft commented on #288
OK, this sounds prudent to me. Essentially, everything in `toil_scripts.tools` will just be the rote job functions that invoke a single stage of a job, and then there will be a variety of pipelines (which we might want to move into `toil_scripts.pipelines` or something) that will wire together the `toil_scripts.tools` job functions.

I still stand by _not_ moving these into `toil-lib`.

[2016-06-01 22:12] arkal commented on #288
I'm arkal and I (think) I approve of this message (or the TL;DR version John gave me).

To see a glimpse of what I'm doing, you can check out https://github.com/BD2KGenomics/protect/tree/issues/32-add-muse-support/src/protect

[2016-06-01 22:41] hannes-ucsc commented on #288
@arkal you might want to link to a specific line

[2016-06-01 22:47] arkal commented on #288
@hannes-ucsc The link was to show the structure of protect.x.y. similar to what @fnothaft had to say

[2016-06-01 22:55] jvivian commented on #291
Works as long as toil-scripts is installed on both leader and worker (whew).  Opening a ticket to add toil-scripts to CGCloud's toil-box once we hit a stable release.

[2016-06-01 22:55] #291 closed

[2016-06-02 20:38] jvivian commented on #285
Duplicate of #288

[2016-06-02 20:38] #285 closed

[2016-06-03 21:35] hannes-ucsc opened #292 "setup.py should not declare Toil as install_requires"
So I've thought about this intensely. I think it is wrong for toil-script's `setup.py` to refer to toil via `install_requires`. There is always the danger that when the user installs toil-scripts (especially when installing into a virtualenv), that a different version of Toil is pulled in via that dependency. It may be a different version of Toil than what the user has on the system, and it will b

[2016-06-03 21:43] hannes-ucsc commented on #292
[code]

We might have to fine-tune the error messages and the version comparison.

[2016-06-03 21:44] hannes-ucsc commented on #292
See https://www.python.org/dev/peps/pep-0440/ for the ins and outs of version comparison.

[2016-06-03 21:56] hannes-ucsc commented on #290
Yes, editing the generated config is a pain. I should just have to remove a single `#` character to turn an example into a valid config line.

[2016-06-03 21:57] hannes-ucsc commented on #290
Also file name should end in `.yaml`, not `.config`. Or `.config.yaml` but that may be overkill.

[2016-06-07 04:14] jpfeil opened #293 "Collect resource usage stats during docker call"

[2016-06-07 21:18] jvivian opened #296 "Refactor exome tool functions"

[2016-06-07 21:19] jvivian opened #297 "Refactor BWA pipeline to use config/manifest"

[2016-06-07 21:19] jvivian opened #298 "Refactor exome's tool functions"
Similar to RNA-seq pipeline, move tool job functions to common location for reusability.

[2016-06-07 21:29] jvivian commented on #296
My waffle tripped out, sorry for all the emails. Duplicate of #298

[2016-06-07 21:29] #296 closed

[2016-06-08 18:48] jvivian opened #300 "MaxCores fix to RNA-seq pipeline"
This was addressed in #294, but I need to get this in ASAP to hand off a new version of the CGL docker container.

[2016-06-09 16:34] #300 closed

[2016-06-09 16:47] #233 closed

[2016-06-10 03:57] jvivian opened #303 "Add RNA-SeQC to RNA-seq pipeline"
Waiting on Holly, the CKCC's new bioinformatician, to get me parameters which I'll then integrate into the RNA-seq pipeline.

This is a high priority for CKCC, who want to evaluate the QC from samples they received that are not clustering as they'd expect.

[2016-06-13 23:41] jvivian commented on #244
This may be unnecessary if we make SplAdder part of the RNA-seq pipeline.

[2016-06-14 00:52] jvivian opened #304 "Move exome tool functions to tool library"

[2016-06-14 00:54] jvivian commented on #298
Duplicate of #304

[2016-06-14 00:54] #298 closed

[2016-06-14 02:53] #292 closed

[2016-06-14 23:00] jvivian opened #305 "Discuss: Naming convention for pipeline outputs"
Once we move to the CGL storage system, Brian would like us to have a standard naming scheme for all outputs in a pipeline.

Initial proposal:
<Experimental Design>.<Tool>.[Name].<ext>

Examples:
RNAseq.Kallisto.counts.tsv
WES.MuTect.vcf
WES.MuTect.cov
WES.BWA.aligned.bam

[2016-06-15 04:45] #283 closed

[2016-06-15 04:45] #287 closed

[2016-06-15 04:45] #211 closed

[2016-06-15 04:45] #288 closed

[2016-06-15 04:45] #290 closed

[2016-06-15 22:03] hannes-ucsc opened #306 "Speed up _download_s3_url"
Two possible avenues: shell out to s3am or hand-code this using a thread pool from https://pypi.python.org/pypi/futures and range requests. Should be 50 lines of code.

s3am is very fast. If we could dockerize it the problem of it having a native dependency (libcurl) would go away. I like calling a separate process for stuff like this because the process boundary protects the main program against

[2016-06-16 20:00] jvivian commented on #303
Bundled with this will *likely* be the addition of adding read groups via STAR since RNA-SeQC is a Broad tool and we all know how flexible they are with read groups.

**RNA-SeQC**
"Each read group must have an ID and contain the
platform [PL] and sample [SM] tags; for the platform value, the module currently supports 454, LS454, Illumina, Solid, ABI_Solid, and CG [all values are casesensitive]. Ea

[2016-06-16 22:58] #273 closed

[2016-06-19 01:59] fnothaft opened #308 "Add simple Spark demo"
Add a demo using https://github.com/BD2KGenomics/toil/pull/786. Current thought is _k_-mer counting using ADAM.

[2016-06-19 16:52] fnothaft opened #309 "Attach Apache 2 license header to all source files"
See http://www.apache.org/licenses/LICENSE-2.0.html#apply

[2016-06-20 21:41] fnothaft opened #310 "Remove author tags from scripts"
As per discussion with @hannes-ucsc @benedictpaten on scrum today.

[2016-06-20 23:31] jvivian opened #312 "Allow wiggle export in RNA-seq 2.1 release"

[2016-06-21 00:58] almussel opened #313 "RNASeq-CGL pipeline failing unit test on Jenkins"
Failure observed on Jenkins build 281 in #265.

[code]

[2016-06-21 00:59] almussel commented on #313
@hannes-ucsc How do I link to the jenkins build?

[2016-06-21 06:25] jvivian commented on #313
There's a try / finally clause in the unit test to cleanup the work directory, so unless the unit test got interrupted and restarted this shouldn't happen.  That being said, this can be fixed just by checking for the folders existence first so I'll go ahead and do that.

[2016-06-21 17:17] hannes-ucsc commented on #313
http://jenkins.cgcloud.info/job/toil-scripts/281/

[2016-06-21 21:05] fnothaft opened #315 "Factor out hardcoded `/mnt/ephemeral` references"
This came to mind while reviewing [a line](https://github.com/BD2KGenomics/toil-scripts/blob/23bc4702c5b2007ccdfcbf29ee5c132723728a70/src/toil_scripts/rnaseq_cgl/test/test_rnaseq_cgl.py#L13) that was referenced in #314. We've got a variety of places in the repo where we've hardcoded `/mnt/ephemeral` into our scripts, under the assumption that we'll always be running on a cgcloud configured AWS box

[2016-06-21 21:18] jvivian commented on #315
+1  — the hardcoded `/mnt/ephemeral` makes running tests locally a hindrance.

@fnothaft — Where should the `get_ephemeral_directory`  function live?

@hannes-ucsc — what is your preferred implementation for this?

[2016-06-21 21:29] fnothaft commented on #315
I'm feeling somewhere in `toil_scripts.lib`? Perhaps `toil_scripts.lib.files` or a new module `toil_scripts.lib.directories`? Also, what's the news with the toil-lib package? This would be an ideal candidate to go there, IMO.

[2016-06-21 21:49] hannes-ucsc commented on #315
Cgcloud sets (and ad Toil reads) TOIL_WORKDIR . It points to /var/lib/toil which is bind-mounted by cgcloud to /mnt/ephemeral/var/lib/toil if present. I think it is ok to create a uniquely named directory in there.

[2016-06-21 21:52] hannes-ucsc commented on #315
And yes, extract a function to toil_scripts/lib/__init__.py. But don't reference `ephemeral` in the name.

[2016-06-21 21:55] fnothaft commented on #315
+1, that SGTM

[2016-06-22 00:07] #313 closed

[2016-06-22 18:46] #242 closed

[2016-06-22 18:46] #135 closed

[2016-06-22 19:07] briandoconnor opened #317 "Add bamstats to RNASeq and Exome and alignment pipelines"
https://www.dockstore.org/containers/quay.io/briandoconnor/dockstore-tool-bamstats

[2016-06-24 16:51] Jeltje opened #319 "Print errors to STDERR"
I know this is true for `rnaseq_cgl` and `ProTECT` (filed a ticket there, too): when the program exits with an error, it is printed to `STDOUT`. The same is true for warnings. This makes it harder to find the problem (there's a lot of log output) and it also doesn't seem to be good practice.

[2016-06-24 17:33] hannes-ucsc commented on #319
All errors should be logged `logging` package, not printed, and `logging` should be configured to write to `sys.stderr`. This might be a Toil issue, actually, but before we go down that route, I would like this issue to be verified.

[2016-06-27 17:42] jvivian opened #320 "Require only reference for BWA"
Annoying and user unfriendly to require all the BWA indices and fai as standard input. Will now be generated if not present.

[2016-06-27 19:01] jvivian opened #321 "Support mock_mode in BWA pipeline"
While refactoring I noticed code support for mock_mode, but the mock argument is never invoked in `docker_call`, so it doesn't do anything at the moment.

[2016-06-27 19:22] almussel commented on #321
`mock_mode` is invoked with the `TOIL_SCRIPTS_MOCK_MODE` environment variable, which causes `docker_call` to run in `mock_mode`. The `mock` argument is only used to override the environment variable if necessary (this is used in the `adam_preprocessing` pipeline to force the spark containers to run even in `mock_mode`).

[2016-06-27 19:29] jvivian opened #322 "Add single-end support for BWA"
Pipeline currently only supports alignment of fastq pairs, but bwa-kit can align single-ended data.

[2016-06-27 19:29] jvivian opened #323 "Add single-end support for BWA"
Pipeline currently only supports alignment of fastq pairs, but bwa-kit can align single-ended data.

[2016-06-27 19:30] jvivian commented on #323
Duplicate due to waffle error.

[2016-06-27 19:30] #323 closed

[2016-06-27 20:16] jvivian commented on #321
Oh awesome, thanks @almussel ! I missed the call to `mock_mode` in `docker_call` that checks for the env variable.

[2016-06-27 20:16] #321 closed

[2016-06-28 16:46] fnothaft commented on #253
Fixed by https://github.com/BD2KGenomics/toil-scripts/commit/ba557211f36dbd5b2b74718fa7c496c4c49fa1d4.

[2016-06-28 16:46] #253 closed

[2016-06-28 16:49] fnothaft opened #325 "Remove spark cluster support"
As of https://github.com/BD2KGenomics/toil/commit/6456fe81b385ac9314ec684be9fd5d41fb8d545a, the Spark support in toil-scripts is duplicative and should be removed in favor of the upstream Spark service code.

[2016-06-28 16:51] fnothaft opened #326 "Memory settings tuning for ADAM pipeline"
Current pipeline hits some GC issues it appears. Should adjust:

* Cache memory fraction
* Network timeout settings

[2016-06-28 17:36] almussel opened #327 "Spark master IP retrieved from wrong node"
The `__init__` method of a service is not necessarily called from the same node as the service is actually run on. Because of this, the master IP of the spark cluster can't be determined in the `__init__` method. This manifests itself in connection failures once the service is running.

[2016-06-28 17:37] almussel commented on #327
This was supposed to be a toil issue. Nvm.

[2016-06-28 17:37] #327 closed

[2016-06-28 17:39] fnothaft commented on #327
This was fixed already in toil: https://github.com/BD2KGenomics/toil/pull/1008.

[2016-06-28 17:40] almussel commented on #327
Ahh, forgot to update toil. Thanks!

[2016-06-28 18:50] jvivian commented on #319
In all production pipelines there is now only use of `job.fileStore.logToMaster`

[2016-06-28 19:23] almussel opened #329 "ADAM pipeline inexplicably runs twice"
When running the ADAM preprocessing pipeline on its own (as opposed to running it as part of the ADAM/GATK pipeline), the entire pipeline runs twice, despite finishing successfully the first time. This includes spinning up an entirely new Spark cluster if using Spark on Toil.

[2016-06-28 22:34] jvivian opened #330 "Remove duplicated functions in gatk_processing"
Exome pipeline #309 has moved functions to the common tool library that can replace the ones in gatk_preprocessing by adding an unsafe flag and expanding docker_call to use inputs and outputs.

[2016-06-28 23:15] cmarkello opened #331 "Function 'docker_call' in toil-scripts library 'programs' missing sudo option"

[2016-06-28 23:22] cmarkello commented on #331
I'm assigning this to you John because you last touched this file.

[2016-06-29 00:43] hannes-ucsc commented on #331
AFAICT, removal of sudo was intentional. The user invoking the docker client indirectly through the Toil script  should be in the `docker` group. That avoids the need for sudo.

[2016-06-29 00:49] fnothaft commented on #331
Yeah, I think though that this gets at a good question. How prescriptive do we want to be about how users configure their cluster? I like removing the `sudo` option because it makes _everything so much cleaner_, but it makes the assumption that people set up their clusters so that Docker can be run without sudo.

However, to argue with myself, having docker as a dependency is prescriptive in and o

[2016-06-29 01:07] hannes-ucsc commented on #331
Generally agree. But sudo might be limited to just the `docker` binary. Then again, you can

just `sudo docker run -itv /:/x ubuntu vi /x/etc/sudoers`

That's the part about docker that cracks me up.

[2016-06-29 01:27] fnothaft commented on #331
Or as they often ask, "WHERE IS YOUR GOD NOW‽"

[2016-06-29 16:26] jvivian commented on #331
If you have sudo privileges, running Docker without sudo is moot as you can just add yourself to the usergroup.

Agreed.

That's the part about docker that cracks me up.
Or as they often ask, "WHERE IS YOUR GOD NOW‽"

I didn't even know you could limit sudo to specific binaries, that's hilarious.

@cmarkello — Is there a use case preventing you from running toil pipelines where you need `sudo`? If

[2016-06-30 16:16] #315 closed

[2016-06-30 17:37] jvivian opened #334 "Hotfix RNA-seq pipeline for non-tar fastq samples"
non-tar fastqs were never properly tested on 1.1 release and a key error arose:

http://hgwdev.cse.ucsc.edu/~jeltje/toil/R.fastq.error

[2016-07-01 17:49] jvivian opened #336 "Fix single-end flag logic in production rna-seq"

[2016-07-01 18:03] jvivian commented on #331
I discussed this with @cmarkello and resolved his use case so I'll be closing this.

[2016-07-01 18:03] #331 closed

[2016-07-02 16:15] fnothaft opened #338 "Überscript documentation is out of date"
With the config file/argument refactor from #265, the überscript documentation didn't get refactored.

[2016-07-05 18:43] jvivian opened #339 "Add developer section to root README"
With several people outside the core group writing toil workflows, we need to outline some advice, tips, standards, etc for developers

[2016-07-05 21:59] hannes-ucsc commented on #339
See also https://github.com/BD2KGenomics/toil/issues/849

[2016-07-07 22:32] jvivian commented on #336
This is a non-issue in the newer pipeline as **paired** and **single-end** are explicitly declared in sample information.

[2016-07-07 22:32] #336 closed

[2016-07-07 22:55] jvivian commented on #334
Resolved in #333, not applicable to current RNA-seq pipeline due to explicit type declaration of sample.

[2016-07-07 22:55] #334 closed

[2016-07-09 20:40] jvivian opened #342 "Update UNC Readme — No longer supported"
I got an email from a user describing a failure of the UNC pipeline, and that's because it's no longer a production pipeline and has been deprecated in favor of the CGL pipeline, but documentation does not reflect this.

- Update the UNC readme to specify earlier version of Toil (3.1.6) to use
- Remove UNC entrypoint from setup.py

[2016-07-10 04:23] jvivian opened #344 "Clarify inputs as URLs (RNA-seq)"
User input requires URLs, but isn't as explicit as it should be.

- Add some logic for user input
- Add some clarification to README
- Add some clarification in config string

[2016-07-11 19:14] #338 closed

[2016-07-11 19:23] #342 closed

[2016-07-11 22:56] #297 closed

[2016-07-11 22:56] #320 closed

[2016-07-11 22:56] #322 closed

[2016-07-12 16:41] jvivian commented on #330
Assigning to @jpfeil based on a discussion we had yesterday.

[2016-07-12 18:57] #344 closed

[2016-07-12 19:50] jvivian opened #347 "Exome - Refactor mean insert size"
The function was taken from the MC3 pipeline and should be rewritten or replaced with something better.

[2016-07-12 20:28] fnothaft commented on #347
I have some code upstream in ADAM that we could use for this, IIRC. LMK if you want to assign it to me.

[2016-07-12 20:42] jvivian commented on #347
If it's easier for you to point me to it or paste a snippet here I don't mind doing it, otherwise feel free to self-assign.

[2016-07-12 20:42] fnothaft commented on #347
I'll ping this later this week; need to clean it up a bit.

[2016-07-12 22:21] #304 closed

[2016-07-12 23:00] hannes-ucsc opened #348 "Installation instructions are misleading"
https://github.com/BD2KGenomics/toil-scripts/tree/master/src/toil_scripts/rnaseq_cgl#installation

When using `virtualenv --system-site-packages` one should not `pip install toil`.

[2016-07-12 23:01] hannes-ucsc commented on #348
Also, the Dependencies section should precede Installation

[2016-07-12 23:03] jvivian commented on #348
What should one do?

[2016-07-13 06:51] #312 closed

[2016-07-13 18:57] #250 closed

[2016-07-13 22:41] hannes-ucsc opened #352 "Minor test_rnaseq_cgl issues"
* Unused parameter tmpdir
* `finally` clause [piggy-backs](https://github.com/BD2KGenomics/toil/wiki/Python-Dos-and-Don'ts#dont-piggy-back-resource-deallocation)

[2016-07-13 22:46] hannes-ucsc commented on #352
* shouldn't hard-code workdir but use Python's `tempfile` module (set TMPDIR at the beginning of the build)

[2016-07-13 22:51] hannes-ucsc commented on #352
Ignore previous comment.

[2016-07-13 22:52] jvivian commented on #352
@hannes-ucsc — I can fix this in 2.0.  I'm in the middle of moving so I haven't been as quick to get that out as I would've liked.

[2016-07-14 01:06] #348 closed

[2016-07-14 01:06] hannes-ucsc opened #354 "Allow for concurrent execution of RNASeq tests"
Currently the output of the RNASeq tests are hard-coded. If two or more builds are executing the same test concurrently—and this is not an unlikely scenario when building PRs on Jenkins—they will overwrite each other's output.

Te output directory in S3 should be chosen pseudo-randomly and a clean way would be to set output_dir in setupClass(). Unfortunately, the tests currently all are flat funct

[2016-07-14 02:42] #352 closed

[2016-07-14 18:29] hannes-ucsc opened #356 "Concurrently running builds may overwrite each other's test outputs"
Randomize output locations. See #354 and PR #355 for example.

[2016-07-14 23:39] #289 closed

[2016-07-15 04:32] hannes-ucsc opened #357 "Garbled error message in setup.py"
`Cannot find Toil version {}.x for Toil` makes no sense

[2016-07-15 04:38] hannes-ucsc opened #358 "Replace PyTest in setup.py with `make prepare` like in Toil"
The goal was to `setup.py test` install test dependencies. Even though the goal is laudable, in practice this makes using IDEs harder (as the test dependencies are only installed for the duration of a test run) and incomplete since most of the time there are other build requirements like Sphinx that aren't covered by this.

Copy the `make prepare` approach from Toil, remove PyTest and tests_requir

[2016-07-15 04:46] jvivian commented on #358
End of your message got cut off.

[2016-07-15 04:57] hannes-ucsc commented on #358
Fixed it.

[2016-07-15 06:47] jvivian opened #359 "Update RNAseq container for 2.0.0"

[2016-07-15 06:47] #267 closed

[2016-07-15 06:50] jvivian commented on #303
RNA-SeQC is old (2014) and does not support Gencode's recent annotation files.

[2016-07-15 06:50] #303 closed

[2016-07-15 06:57] jvivian commented on #359
Wrong repo: BD2KGenomics/cgl-docker-lib#143

[2016-07-15 06:57] #359 closed

[2016-07-15 17:40] hannes-ucsc opened #360 "jenkins.sh shouldn't install bd2k-python-lib"
… since that is a "provided" dependency like Toil.

[2016-07-15 20:59] hannes-ucsc commented on #360
Sorry, wasn't thinking right. BPL shouldn't be installed explicitly because it is a dependency provided transitively by Toil. setup.py already asserts that the version provided by Toil is acceptable. Installing it explicitly is risking to break Toil.

[2016-07-15 21:03] jvivian commented on #360
Ok, I thought we had discussed this and you said never have transitive dependencies in case they change — I guess since we're the ones writing both packages we'll know BPL will never _not_ be a Toil dependency.

[2016-07-15 21:53] hannes-ucsc commented on #357
@jvivian Do you mind if I take this? I need to add a similar test for boto so I can fix it on the fly.

I also don't think we need to make a hotfix to on the 2.0.x for this.

[2016-07-15 21:56] jvivian commented on #357
Np!

On Fri, Jul 15, 2016 at 2:53 PM Hannes Schmidt <notifications@github.com>
wrote:

[2016-07-15 23:52] hannes-ucsc commented on #360
Yes, I remember saying that. I was wrong. The problem I see is that T advances the version of its BPL dependency, and TS's `jenkins.sh` then downgrading BPL it to what TS incorrectly assumes T provides. This could break tests (false positive), but it could also hide legitimate failures (false negatives).

[2016-07-16 22:41] JakeNarkizian opened #361 "Curl called on s3 URLs from rna seq cgl manifest"
The generated manifest says that s3 URLs pointing to samples are allowed. Note that converting the S3 URL to its `https` counterpart resolved the issue.

## Command:
[code]
## log:
[code]

## Manifest:
[code]

[2016-07-16 22:48] JakeNarkizian opened #362 "Rna seq cgl fails on zcat"
## Command:
[code]
## log:
[code]

[2016-07-16 23:02] JakeNarkizian opened #363 "Type error in alignment pipeline"
## Command:
[code]
## log:
[code]

[2016-07-16 23:21] JakeNarkizian opened #364 "Curl called on S3 URL in exome pipeline"
[log.txt](https://github.com/BD2KGenomics/toil-scripts/files/367591/log.txt)
log is too long to post here. See attached script generated text file.

[2016-07-18 16:49] jvivian commented on #361
This is a known issue due to our (somewhat clunky) encryption system — Encrypted S3 URLs use the whole URL, which is region specific: e.g. `https://s3-us-west-2.amazonaws.com/bucket/file.txt` If the user supplies an S3 URL I'd have to make an assumption about what region they're trying to run this from. @hannes-ucsc and I discussed changing everything to just the `s3://` URL, but figured it wasn't

[2016-07-18 16:51] jvivian commented on #362
@JakeNarkizian — Can I see the contents of the **manifest-toil-rnaseq.tsv**? It looks like it's trying to zcat the fastqgz and the tar together which it shouldn't be doing... this may be an artifact of removing the `os.remove` of the sample tar to be compatible with caching.

[2016-07-18 17:00] jvivian commented on #362
Yup, this is a `glob` issue due to removing `os.remove`. I will address this in a **2.0.1** hotfix.

[2016-07-18 17:01] jvivian commented on #362
@JakeNarkizian — Please assign bugs related to the pipeline to me when you create them so I don't miss any. Thanks!

[2016-07-18 17:04] jvivian commented on #363
Thanks for catching this, stupid error on my part. I either needed to use `addChildJobFn` or wrap the function like I did the upload step.

[2016-07-18 17:06] jvivian commented on #364
Headers are being invoked, meaning this is an identical issue to: https://github.com/BD2KGenomics/toil-scripts/issues/361

[2016-07-18 17:31] hannes-ucsc commented on #364
@jvivian, If the issue is systemic to toi-scripts, track this as a single issue and close this one as a duplicate.

[2016-07-18 17:43] jvivian commented on #364
Duplicate of #361

[2016-07-18 17:43] #364 closed

[2016-07-18 17:57] hannes-ucsc commented on #361
If this is systemic, the title should be adjusted to reflect that.

[2016-07-18 18:07] hannes-ucsc commented on #361
Now that s3am supports downloads, all URLs referring to objects in S3 should use the `s3://` scheme and be implemented by calling s3am. That should be fairly easy to do as all machinery is already there. You can rip out the encryption header stuff. As a beneficial side-effect, the downloads are going to be much faster and more reliable. The general rules for running s3am programmatically as docume

[2016-07-18 18:08] hannes-ucsc commented on #361
… from the curl invocation for http:// URLs

[2016-07-18 19:52] jvivian opened #365 "Add somaticSniper to exome"
@arkal has a container and a options already established in ProTECT.

[2016-07-19 00:03] hannes-ucsc opened #367 "test_upload_and_download_with_encryption gets into rut"
It doesn't clean up properly on failure and once it fails if will fail again (I think). Last but not least, it should randomize the name of the test file.

[2016-07-19 00:14] hannes-ucsc commented on #367
Removing the left over file from S3 fixed the issue.

[2016-07-19 00:54] #354 closed

[2016-07-19 00:54] #357 closed

[2016-07-19 00:54] #360 closed

[2016-07-19 23:12] hannes-ucsc opened #368 "Port remaining tests to unittest.TestCase"
… like we did for the RNASeq tests.

Consider creating a common base class with shared functionality.

[2016-07-20 15:38] fnothaft opened #369 "Point at ADAM 0.20.0 RC for adam-pipeline"
* Bump docker image to https://github.com/BD2KGenomics/cgl-docker-lib/pull/145
* Use SAM specified sort order, instead of lexicographic (see https://github.com/bigdatagenomics/adam/pull/1045)

[2016-07-20 22:59] jvivian opened #370 "Remove required=True in for mutually exclusive groups"
Even if a default is supplied, having required=True makes you supply one.

[2016-07-21 15:42] fnothaft opened #371 "Support running ADAM natively in adam-pipeline"
Needed for https://github.com/BD2KGenomics/cgl-docker-lib/issues/147. In some cases, it is desirable to run a pipeline without running tools in Docker containers. Let's revise the adam-pipeline to support this.

[2016-07-21 16:58] jvivian opened #372 "RNAseq — Fix namespace bug"

[2016-07-21 17:25] jvivian opened #373 "Confirm no issues with --restart"
Trying to restart an RNA-seq pipeline run on a mesos leader/worker with an AWS jobstore resulted in an import error being unable to find `toil_scripts/rnaseq_cgl/rnaseq_cgl_pipeline`.

Jake — When testing the 2.0.1 release, making resuming a pipeline part of your tests.

toil-scripts was installed in a virtualenv on the leader, with `--system-site-packages`

[2016-07-21 18:52] JakeNarkizian commented on #373
*Note to self*: Also request bam and wiggle files

[2016-07-21 21:29] jvivian opened #374 "Remove redundant passing of "cores""
Job functions can access the number of cores they were provisioned with `job.cores`, which means cores shouldn't be passed around as an argument to job functions redundantly.

[2016-07-23 00:08] jvivian opened #375 "Cherrypick bug commits to master"

[2016-07-23 02:44] hannes-ucsc commented on #375
You don't really need a special ticket for CP'ing bugfixes from a release branch to master. Assuming that each CP'ed commit refers to the issue it resolves, when you committed/merged them into the releases/2.0.x branch, GH did nothing, the tickets remained open. This should serve as a reminder to CP them into master. When you then actually merge the CPs into master, GH will close those tickets for

[2016-07-23 03:44] jvivian commented on #375
Great point, I realized that after I started the CP.

[2016-07-23 03:44] #375 closed

[2016-07-23 03:46] jvivian commented on #375
@hannes-ucsc — In the case where I am putting these CPs on a branch to PR against master, if I'm not opening a ticket (as you suggested), what naming convention should I use for the branch?

[2016-07-23 07:29] hannes-ucsc commented on #375
I haven't found a good convention yet. How about

`issues/123-456-789-cherrypick-to-master`

With PRs that only have one CP in them, I tried various schemes. The best one so far was

`issues/123-bla-bla-bla/releases/2.0.x` for the PR against `releases/2.0.x`
`issues/123-bla-bla-bla/master` for the PR against master

For a PR with multiple CPs the equivalent would be

issues/123-bla-bla-bla/release

[2016-07-23 07:31] hannes-ucsc commented on #375
One of git's quirks is that if you have a branch called `foo` you can't also have a branch called `foo/bar`. Don't know why exactly.

[2016-07-25 01:08] JakeNarkizian opened #377 "Exome pipeline fails on S3am error"
**log**:
[code]

[2016-07-25 01:20] JakeNarkizian opened #378 "Rna seq cgl fails with OSError"
**log**:
[code]

[2016-07-25 01:20] jvivian commented on #377
@JakeNarkizian — Can you paste the config and manifest?

[2016-07-25 01:22] jvivian commented on #378
@JakeNarkizian — Just confirming, you know this data is unpaired?

[2016-07-25 01:27] JakeNarkizian commented on #378
Yes.

[2016-07-25 18:08] #372 closed

[2016-07-25 18:08] #361 closed

[2016-07-25 18:08] #362 closed

[2016-07-25 18:08] #363 closed

[2016-07-25 18:08] #370 closed

[2016-07-25 18:13] hannes-ucsc commented on #377
[code]

Seems to be the primary cause. This typically happens if the key is wrong or missing.

[2016-07-25 18:38] hannes-ucsc opened #379 "All external process invocations should be logged"
https://github.com/BD2KGenomics/toil-scripts/issues/377#issuecomment-234816822

No way of telling how s3am was invoked. Someone needs to go through all `subprocess` invocation in toil-scripts and add INFO logging messages. These interprocess boundaries are always very helpful in debugging because the command line is a very minimal API that helps rule out either the parent or the child process as t

[2016-07-25 19:40] fnothaft opened #380 "Add cloud pilot quality control workflows"

[2016-07-25 22:40] JakeNarkizian commented on #377
# Test toil-exome at 2016-07-25 22:37:48.791056
---
## Command:
[code]
## Config:
[code]
## Manifest:
[code]
---
### stdout:
[code]
### stderr:
[code]
---

[2016-07-25 22:50] jvivian commented on #377
Figured this one out:  If an SSEC key is supplied, S3 URLs are downloaded using the key. The problem is the config inputs are *unencrypted* and the manifest inputs are *encrypted*. Some ideas:

- Remove passing the SSEC key when downloading inputs in the pipeline
    - Cons: What if a user has encrypted config inputs? I don't think I should disallow that.
- If S3AM fails downloading an encrypted f

[2016-07-26 00:32] hannes-ucsc commented on #377
Is "config input" the same what we used to refer to as *static input*?

Another alternative: the URL could reflect if the file is encrypted or not. Three variants on how to encode encryption status in the URL:

1) Encode the info in the scheme: `s3ssec://bucket/dir/file.ext` or `s5ec:…` (JK)
2) Encode the info in the query: `s3://bucket/dir/file.ext?encryption=SSE-C
3) Encode the info in the fragm

[2016-07-26 21:45] JakeNarkizian opened #382 "rna-seq-cgl stalls for a while"
[code]
The workflow eventually completed but this went on for quite some time, assuming it is not expected behavior.

See my comments [here](https://github.com/BD2KGenomics/core-operations/issues/53) for manifest and config.

See attached [log file](https://github.com/BD2KGenomics/toil-scripts/files/384865/log.txt).

[2016-07-26 21:55] JakeNarkizian opened #383 "Clarify lack of bucket creation on for output dir"

[2016-07-26 22:10] jvivian commented on #382
This is a non-issue, just a reoccurring message that no additional offers can be extended.

[2016-07-26 22:11] #382 closed

[2016-07-26 22:19] JakeNarkizian opened #385 "config files need standardized output-dir"
Either have both output-dir and s3-output-dir or one output-dir for both on every pipeline config

[2016-07-26 22:23] jvivian commented on #385
Deferring to simplicity — Will only have one output dir.

[2016-07-27 17:00] hannes-ucsc commented on #382
Agree with closing this. However, @JakeNarkizian, this is a bit noisy and I also noticed that it is logged once for every offer and therefore node in the cluster. Can you open a ticket against Toil?

[2016-07-27 21:29] JakeNarkizian opened #388 "Exome pipeline fails on (new) s3am error"
# Test toil-exome at 2016-07-27 21:08:01.822548
---
## Command:
[code]
## Config:
[code]
## Manifest:
[code]
---
### stdout:
[code]
### stderr:
[code]
---

[2016-07-27 23:03] jvivian commented on #388
@hannes-ucsc to the rescue — s3am error caused by malformed URL.

[2016-07-27 23:03] #388 closed

[2016-07-27 23:15] JakeNarkizian opened #389 "ran seq pipeline failing"
# Test toil-rnaseq at 2016-07-27 20:28:35.418383
---
## Command:
[code]
##  Manifest:
[code]
## Config:
[code]
---
### stdout:
[code]
### stderr:
[code]
---

[2016-07-28 22:23] jvivian opened #391 "Fix output_dir bug"

[2016-07-29 17:05] Jeltje opened #393 "toil-bwa should throw error on wrong input"
Jake and I both managed to run toil-bwa with tar files as input, instead of fastq.gz. The manifest line read
`jake-test   s3://cgl-driver-projects-encrypted/ucsf-pnoc/ucsf-WXS-fastq/C021_0006_T_WES.tar s3://cgl-driver-projects-encrypted/ucsf-pnoc/ucsf-WXS-fastq/C021_0006_C_WES.tar`
(note also how that's not fwd and rev reads but tumor and control samples)

The program appeared to run just fine and

[2016-07-29 19:42] cmarkello opened #394 "Rename check_output parameter to return_stdout in docker_call function in lib/programs.py"

[2016-07-29 22:18] JakeNarkizian opened #395 "exome pipeline failing on import error"
## config:
[code]

## manifest:
[code]

## log:
[code]

[2016-07-29 22:57] jvivian commented on #395
I'll take a look at this when I can, but this doesn't look like a pipeline error.

[2016-07-30 02:32] Jeltje opened #396 "toil-bwa fails on local genome input"
I am trying to run toil-bwa on a local copy of hg19. I did not create any of the 'optional' files.
This is in the config.yaml:
`ref: file:///home/ubuntu/data/hg19.fa`

Command:
`toil-bwa run /home/ubuntu/bwa_test1/jobstore --workDir=/home/ubuntu/bwa_test1/workdir --config config.yaml --manifest bwaManifest.tsv`
[This config file works](http://hgwdev.cse.ucsc.edu/~jeltje/toil/config4.yaml)
[But thi

[2016-07-30 04:11] jvivian commented on #396
Thanks for the great info! I'll look into this ASAP.

[2016-07-30 17:21] jvivian commented on #396
@Jeltje — In the future, please assign these to me when you open them so it doesn't get lost.  Found the issue, rolling out a fix now.

[2016-08-01 07:49] jvivian commented on #395
@JakeNarkizian — I couldn't replicate this on single machine after a fresh venv and install of toil and toil-scripts.

[2016-08-01 22:34] #377 closed

[2016-08-01 22:34] #378 closed

[2016-08-01 22:34] #383 closed

[2016-08-01 22:34] #385 closed

[2016-08-01 22:34] #389 closed

[2016-08-01 22:34] #391 closed

[2016-08-01 22:34] #396 closed

[2016-08-01 22:41] jvivian opened #399 "Update documentation"
Some info is wrong on the root README.md

[2016-08-01 22:46] jvivian commented on #373
@JakeNarkizian — able to reproduce?

[2016-08-02 15:01] Jeltje opened #400 "toil-bwa requires boto and something else"
Using version
`toil (3.5.0a1.dev229)`
`toil-scripts (2.1.0a1.dev478)`
Inputs identical to issue 396, except with the master key removed from the config file:
`ssec:`
Note that boto isn't specicically listed as a requirement, and I don't do anything that should need password access to AWS

Full error:
[code]

I tried to install boto (v 2.42.0)
and then got a whole new error:
[code]
I don't know if

[2016-08-03 15:46] jvivian commented on #400
Why test the development versions? I don't get this issue on release versions:

[code]

It's good that you noticed this, because I'm not sure why Toil (on master) is pulling in the AWS jobstore when you're running in local mode

[code]
@cket — Since Hannes and I are on vacation, you mind taking a look at this? I'm going to close this ticket but @Jeltje opened one under BD2KGenomics/toil#1104

[2016-08-03 15:46] #400 closed

[2016-08-03 20:50] Jeltje commented on #400
@jvivian I tried using the stable version of toil but that didn't work with toil-scripts. So I figured I'd take the dev version and that worked fine with the first toil-bwa I tried.

[2016-08-05 16:16] jpfeil opened #401 "Add clinical variant annotation to germline"

[2016-08-05 16:24] fnothaft commented on #401
Linking this to #335, #280, https://github.com/BD2KGenomics/cgl-docker-lib/issues/163. @jpfeil can you fill this in with the tools you are going to run in the pipeline?

[2016-08-07 17:27] Jeltje opened #402 "toil-rnaseq expects s3 output dir"
I want to get output locally, so in my config:
`output-dir: /mnt/test_cgl1/out1`

Error:
[code]
Versions:
[code]
[Full log file] (http://hgwdev.cse.ucsc.edu/~jeltje/toil/log.1)
[Config file] (http://hgwdev.cse.ucsc.edu/~jeltje/toil/config1.txt)
[Manifest file] (http://hgwdev.cse.ucsc.edu/~jeltje/toil/manifest1.txt)

[2016-08-07 18:33] Jeltje opened #403 "toil-bwa (probably) expects s3_key_path for local files"
I'm running locally, with this in the config.yaml:
[code]
and in the manifest:
`small   file:///home/ubuntu/bwa_test1/testinput/small.fastq.gz`

The error appears to come from download_url, so I think the program is trying to do an unnecessary download...?
[code]
Versions:
[code]

[full log](http://hgwdev.cse.ucsc.edu/~jeltje/toil/log.8)
[config file](http://hgwdev.cse.ucsc.edu/~jeltje/toil/config

[2016-08-07 18:54] jvivian commented on #403
Please open tickets for release versions (ex: **2.0.5**) not development versions: **2.1.0a1.dev478**.  I think this particular issue was addressed here: https://github.com/BD2KGenomics/toil-scripts/pull/397

[2016-08-07 18:54] #403 closed

[2016-08-07 18:55] jvivian commented on #402
Please test release versions not development versions, this was addressed here: https://github.com/BD2KGenomics/toil-scripts/pull/392

[2016-08-07 18:55] #402 closed

[2016-08-09 11:51] Jeltje opened #404 "add full FastQC output to toil-rnaseq"
Currently, `fastqc: true` results in a single HTML file per input fastq. However, we're working on a cohort QC pipeline that uses both the fastqc_data.txt file and the separate .png image files for each sample. Can these be added to the tar file?

[2016-08-09 15:52] Jeltje opened #405 "toil-rnaseq cutadapt error when using local input fastq"
`toil-scripts (2.0.5)`

Trying to run with local fastq, so the manifest looks like this:
`fq      paired  localin file:///mnt/test_cgl1/testinput/C021_0006_002221_BR_Whole_T2_K1STX_A12445_000_R1.fastq.gz,file:///mnt/test_cgl1/testinput/C021_0006_002221_BR_Whole_T2_K1STX_A12445_000_R2.fastq.gz`

I did not change the cutadapt settings in the config file, but I get this error:
` TypeError: run_cutada

[2016-08-09 16:29] jvivian commented on #405
@Jeltje — FastQC only has options to save the output as a zip (other than HTML).  That ok?

[2016-08-09 16:30] jvivian commented on #404
FastQC only has options for saving output as a zip — that ok?

[2016-08-09 16:37] jvivian commented on #405
@Jeltje — Thanks! I'll get a fix up once I'm up on campus, should only take a few minutes.

[2016-08-09 17:00] Jeltje commented on #404
Sure!

[2016-08-09 18:03] jvivian commented on #395
@JakeNarkizian — Can you confirm error from fresh venv install? If not please close.

[2016-08-09 18:10] jvivian commented on #404
@Jeltje — I'm guessing you need this as part of the 2.0.x release?

[2016-08-09 18:35] Jeltje commented on #404
@jvivian Yes, because the first batch we plan to run is for CKCC and they care.

[2016-08-09 19:09] jvivian commented on #373
@JakeNarkizian — Update?

[2016-08-09 22:13] #399 closed

[2016-08-09 22:13] #404 closed

[2016-08-09 22:13] #405 closed

[2016-08-10 10:20] Jeltje opened #410 "toil-rnaseq cutadapt error when using local input fastq (again)"
Same inputs as https://github.com/BD2KGenomics/toil-scripts/issues/405

using `2.0.6`
This time the error is `cutadapt: error: at line 1, expected a line starting with '@'`

The inputs are fastq.gz, so maybe there's a problem with extraction? The input files are from an extracted s3 tar file I used in an earlier (passed) test (and line 1 does start wit '@')

[log file](http://hgwdev.cse.ucsc.edu/~

[2016-08-10 17:05] jvivian commented on #410
Thanks @Jeltje — looking at this now.

[2016-08-10 18:54] JakeNarkizian commented on #373
@jvivian could not reproduce on fresh cluster. see [core-operations #58](https://github.com/BD2KGenomics/core-operations/issues/58).

[2016-08-10 18:54] #373 closed

[2016-08-10 19:06] JakeNarkizian commented on #395
@jvivian could not reproduce on fresh cluster. See [core-operations #58](https://github.com/BD2KGenomics/core-operations/issues/58).

[2016-08-10 19:06] #395 closed

[2016-08-11 04:00] #410 closed

[2016-08-11 15:31] Jeltje opened #413 "toil-rnaseq searches R2 file on single input"
`toil-scripts 2.0.7`
manifest:
`fq      single  localidx        file:///home/ubuntu/bwa_test1/testinput/C021_0006_002221_BR_Whole_T2_K1STX_A12445_000_R1.fastq.gz`
The error comes from a call to `readGlobalFile` with `input_r2`, which of course doesn't exist:
Error
[code]
[manifest](http://hgwdev.cse.ucsc.edu/~jeltje/toil/manifest3.txt)
[config](http://hgwdev.cse.ucsc.edu/~jeltje/toil/config3.txt)

[2016-08-11 17:51] #413 closed

[2016-08-12 19:27] JakeNarkizian opened #416 "Inaccurate readme for exome variant pipeline"
Most production pipelines use "--samples" while bam uses "--sample"

[2016-08-12 20:07] JakeNarkizian commented on #416
Ignore the previous comment. There is no "--samples" option for exome var, however the readme implies that there is.

[2016-08-12 20:42] jvivian commented on #416
good catch, thanks!

[2016-08-15 17:36] jvivian opened #417 "Add descriptions of tools to documentation"
As an example:

A narrative description of the method with versions (and cites, which I haven't included here):
FastQC v0.11.5 was used to obtain quality metrics on each FASTQ input file. Reads were aligned by STAR v 020201 using indices generated from the human reference genome GRCh38 and the human gene models Gencode 23. The alignments were piped to Samblaster 0.1.22 for duplicate marking and sa

[2016-08-16 02:57] jpfeil commented on #401
I will add Oncotator to the pipeline (https://github.com/broadinstitute/oncotator).

[2016-08-19 16:48] Jeltje opened #419 "toil-rnaseq does not recognize s3 bucket without subdirectory"
I'm not sure this is a bug, precisely, but it may need some explanation.

When I give a s3 bucket as outputdir in the config file, the run will fail if you did not create a 'directory' inside the bucket.
So this works:
`output-dir: s3://varscan-hg19-input/testout`
But this fails:
`output-dir: s3://varscan-hg19-input`
with `The specified domain does not exist.` [full log](http://hgwdev.cse.ucsc.edu

[2016-08-21 18:59] jvivian commented on #419
@Jeltje The full log is missing the error message — is there another log?

[2016-08-23 00:00] jvivian commented on #277
Not needed or requested at the moment.

[2016-08-23 00:01] #277 closed

[2016-08-23 17:24] #374 closed

[2016-08-23 18:05] jvivian opened #422 "Add ftp as URL option"
Missing from some configs / manifests.

[2016-08-23 18:37] jvivian commented on #419
@Jeltje — Update on this?

[2016-08-24 03:34] #252 closed

[2016-08-24 04:13] jpfeil opened #423 "Add JEXL expressions to germline config"

[2016-08-24 06:07] fnothaft opened #424 "Factor Docker version strings out"
We repeatedly use various Docker version strings, but don't have a central place that we define them (e.g., [quay.io/ucsc_cgl/samtools shows up 12 times](https://github.com/BD2KGenomics/toil-scripts/search?utf8=%E2%9C%93&q=quay.io%2Fucsc_cgl%2Fsamtools)). We should probably define these version strings in a central location (`toil_scripts.tools.tool_versions`?) for consistency.

[2016-08-24 17:06] jpfeil opened #425 "Refactor germline shared files download"
https://github.com/BD2KGenomics/toil-scripts/pull/335#discussion-diff-75982409

[2016-08-24 17:24] jpfeil opened #426 "Support germline joint genotyping and hard filtering"

[2016-08-24 20:14] hannes-ucsc opened #427 "Eliminate config options for approximate input file size"
Asking the user to specify the input size is error prone and inconvenient.

Whenever we download a file to a local disk for the purpose of uploading it to the job store, we should switch to using Toil's import functionality instead. It uses streaming instead of local disk thereby eliminating the need for estimating a disk requirement for the import job. As imports are implemented in Toil right now

[2016-08-26 20:17] #416 closed

[2016-08-26 20:17] #417 closed

[2016-08-29 21:32] #422 closed

[2016-08-31 18:42] fnothaft opened #429 "S3 tests should be skipped if bucket can't be accessed"
We have several tests that pull files from a restricted S3 bucket. We should skip these tests if the person running the tests does not have access.

[2016-08-31 23:15] #210 closed

[2016-08-31 23:15] #325 closed

[2016-08-31 23:15] #326 closed

[2016-08-31 23:15] #329 closed

[2016-08-31 23:15] #371 closed

[2016-09-02 04:49] jvivian opened #430 "Fix --sample in bwa pipeline"
Inputs via --sample are not stored in the proper format for unpacking later.

[2016-09-02 17:45] alex-hancock opened #432 "Error Messages from BWAkit Invocations are not retained in worker.log"
Hannes will explain. Error message:
```ERROR: failed to locate the BWA index. Please run '/opt/bwa.kit/bwa index -p /data/ref.fa ref.fa'.```

[2016-09-06 04:15] hbeale opened #433 "change STAR outSAMunmapped argument"
The bam file is created by the RNA-Seq pipeline omits some reads in the output, which chokes our duplicate-finder. In the STAR params in aligners.py, the current outSAMunmapped argument is "Within", but needs to be "Within KeepPairs"

[2016-09-06 16:41] jvivian commented on #419
@JakeNarkizian — can you comment on this?

[2016-09-06 16:42] jvivian commented on #216
@jpfeil — You mind giving me a brief tutorial when you get in?  I should really implement this in all the production pipelines.

[2016-09-06 17:20] hannes-ucsc commented on #432
So it seems that BWA (or our bwa image) does not always return a non-zero status code in error conditions, for example when it can't find  the reference index. We got the error message above when running the docker container for BWA manually without having index files present on disk. The exit code was 0.

Talking to @alex-hancock and @jvivian made me realize that we already handle cases like this

[2016-09-06 17:20] #432 closed

[2016-09-06 20:20] hannes-ucsc commented on #419
Neither `s3://varscan-hg19-input/testout` nor `s3://varscan-hg19-input` should be accepted as valid directory URLs. They should always be enforced early to end in  a slash.

[2016-09-06 20:56] hannes-ucsc commented on #419
What I mean to say is that @Jeltje should try again with s3://varscan-hg19-input/ and toil-rnaseq should assert/require that input URLs pointing at a directory end in /.

[2016-09-06 22:12] fnothaft opened #435 "Wrap ADAM pipeline calls in logged timers"
I need to get timing stats from the ADAM pipeline, so I will add some timing hooks.

[2016-09-06 22:29] hannes-ucsc opened #436 "Mate pair designator heuristic fails if parent directory name contains R1 or R2"
From http://jenkins.cgcloud.info/job/toil-pull-request-integration-tests/78/testReport/junit/src.toil.test.provisioners.cgcloud.provisionerTest/CGCloudProvisionerTest/testStaticCluster/:

[code]

Note how the directory name `tR2afmv` contains the string `R2` which throws off the heuristic.

[2016-09-06 22:30] fnothaft commented on #436
Nice! I know where this one came from...

[2016-09-07 01:49] jvivian commented on #436
Guilty! Thanks for making a ticket.

[2016-09-07 15:25] rcurrie commented on #436
(Moving the discussion about naming pairs from the stanford task here)

Making the hueristic a bit more deterministic ala the regex mentioned:
 /.+?[._-]R?([1])(.fastq(.gz)?|.fq(.gz)?)$/

sounds like a good step in the convention over configuration school of design.

I'd also like to come up with a standard way to specify inputs where the name is not depended on in any way with an eye towards auto

[2016-09-07 17:17] Jeltje opened #438 "rnaseq-cgl gets only No log file present errors"
[code]

This is production run https://github.com/BD2KGenomics/core-operations/issues/77

The inputs have been downloaded from SRA (I think) and are not recent. Many of the files are small, indicating low read coverage. You can see them [on s3](https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/ckcc-stanford/ckcc_issue77_input/)

Note that the files are from two different sources. Th

[2016-09-07 17:39] jvivian commented on #438
If the workers are still up, can you check the mesos logs on the worker?  You can find the stderr or stdout logs by typing:

[code]

Otherwise, I can only suggest running it with `--restart` to see if the error messages show up.  On EC2, did the nodes fail any "status checks"?  Were the workers c3.8xlarge?  If you rerun the failed samples and don't get output logs, then we'll need to open a Toil i

[2016-09-07 17:41] jvivian commented on #436
@rcurrie Part of accepting outside data could be writing a script that does the tarball/recombine before upload.  This way only R1/R2 pairs are passed into the pipeline and we can remove this kludgy step from production.

[2016-09-07 18:10] adurbin2 commented on #438
I've asked Holly to llok at the incoming files from a QC viewpoint. We are very interested in these 31 samples to enrich/improve the TumorMap reference set... they were not easy to obtain, and anything that can be done to make them more usable would be extremely helpful.

[2016-09-07 18:23] jvivian commented on #438
@adurbin2 — The log from running one of the samples locally should let me ascertain why the sample failed, and is probably the reason for that group failing.

[2016-09-07 18:24] #430 closed

[2016-09-07 18:41] adurbin2 commented on #438
Is that something Rob can do (as he did for the prospective subjects in batch 73) or is it something to be done by Core folk? Holly will not have bandwidth on this for at least a day or so; although she had taken a preliminary look at the files on their way in & thought they looked OK.

[2016-09-08 17:26] Jeltje opened #441 "toil-bwa should create output dir if not exists"
Currently the config states
[code]
Note that it does not say anything about a local output directory. Other toil-scripts create it if it does not exist, but toil-bwa runs for 3 hours (12 nodes) and *then* fails with `IOError: [Errno 2] No such file or directory: '/tmp/bwa/out1/local.bam'`
(I don't know why it lists the file, not the directory)

Request: Either have the code create the directory or

[2016-09-08 17:36] Jeltje commented on #438
Yikes, for some reason I don't get emails on these tickets, sorry I didn't respond. The workers were killed off by your monitor script @jvivian :-) So no luck there - equally on the status checks. They were c3.8xlarge. I did notice that the run script ran through the samples really quickly (the workers all remained up) and only slowed down when it got to the `SRR` samples. Something decided right

[2016-09-08 19:46] Jeltje opened #444 "Request: Accept cram input to toil-exome"
`cram` is increasingly popular and is easily convertible to `bam` (and vice versa).

The 1000 Genomes Project has lots of exome data, accessible through ftp, but in `cram` format.
For example:
ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/data_collections/1000_genomes_project/data/CHS/HG00472/exome_alignment

Since the toil workflows already accept ftp inputs, it save users a download-and-convert.

[2016-09-08 20:36] hannes-ucsc opened #445 "Create job factories that automatically compute requirements"
Instead of

[code]

We should be able to

[code]

This way the knowledge of how foo_job's disk requirement relates to the size of its input file is encapsulated in a library function that is colocated with the job function.

Instead of creating a factory, we could also convert foo_job from a job function to a class-based job, i.e. a subclass of Job. Those can define their own requirements in the c

[2016-09-08 20:37] hannes-ucsc commented on #445
Cat hit send. Fixing.

[2016-09-08 20:46] hannes-ucsc commented on #445
There, I fixed it. Pinging @jvivian, @jpfeil @fnothaft for input.

[2016-09-08 21:08] adurbin2 commented on #438
I understand Rob is working on this in the next few days --

[2016-09-08 22:05] jvivian commented on #339
We can close this since pipelines will be split up by repo soon.

[2016-09-08 22:05] #339 closed

[2016-09-09 04:30] rcurrie commented on #438
I'll run on a single machine tomorrow and see if the log output has any hints and report back.

[2016-09-09 15:51] rcurrie commented on #438
@Jeltje I'm running 7316-1057-RNA_401550_R1/R2.fq.gz, its one that Holly took a look at visually and didn't see anything obviously wrong. Want to make sure that it is one that DID fail.

[2016-09-09 16:55] Jeltje commented on #438
That's correct, 7316-1057-RNA_401550 failed.

[2016-09-09 17:36] #441 closed

[2016-09-09 17:59] rcurrie commented on #438
So far its running fine (in STAR) with no errors. On this machine it typically takes 6-8 hours to run so thought I'd mention as it sounded like these failed fast in the core. If this completes fine then its likely something in the distributed world.

[2016-09-09 18:24] Jeltje commented on #438
I will redo a few samples of the original run to verify that.

[2016-09-09 19:46] Jeltje commented on #438
So far, so good. I will let these finish and report back.

[2016-09-09 20:18] rcurrie commented on #438
Still running with no issues (rsem-run)

[2016-09-09 22:14] #436 closed

[2016-09-09 22:49] #216 closed

[2016-09-09 23:40] rcurrie commented on #438
7316-1057-RNA_401550 finished fine on my machine - no errors.

[2016-09-10 00:54] Jeltje commented on #438
Thanks Rob! Of my three test samples, one (can't tell which one) failed on rsem, and only one of my three worker nodes is doing anything, so I'm assuming that one of the remaining two samples has disappeared.

I've copied the stderr logs off the idle workers (the stdouts were empty) but nothing jumps out.

[w1_stderr.txt](https://github.com/BD2KGenomics/toil-scripts/files/465134/w1_stderr.txt)
[w3

[2016-09-10 04:57] rcurrie commented on #438
Possible Aha - I just looked at the very top of this thread and see its toil 2.0.9. I"m using the 2.0.8 docker. Any idea what version of the toil script was used for the last run/batch that worked? If it was 2.0.8 then we can look at the git diffs. The latest version on quay is 2.0.8--1.10.3--513d7eff7...
@jvivian if its easy and you kick off a 2.0.9 based docker built I'll re-run the sample that

[2016-09-10 18:53] Jeltje commented on #438
Good catch Rob!

It looks like two of the three jobs ran fine - I have `.bam`, `.bigwig`, and `.tar.gz` output for them. For the remaining one, `7316-942-RNA_400855` the `.tar.gz` is missing. This appears to be due to a rather cryptic error in the rsem workflow:

[code]

[test77log.txt](https://github.com/BD2KGenomics/toil-scripts/files/465577/test77log.txt)
Interestingly, the file ended with `The